[Unit]
Description=HomelabOS Traefik Service
After=docker.service
Requires=docker.service

[Service]
TimeoutSec=infinity
Restart=always
RestartSec=3

ExecStart=/usr/bin/docker-compose -f /var/homelabos/traefik/docker-compose.traefik.yml -p homelabos up
ExecStop=/usr/bin/docker-compose -f /var/homelabos/traefik/docker-compose.traefik.yml -p homelabos stop

[Install]
WantedBy=multi-user.target