[Unit]
Description=HomelabOS Traefik Service
After=docker.service
Requires=docker.service

[Service]
User={{ homelab_ssh_user }}
Group={{ homelab_ssh_user }}
TimeoutStartSec=infinity
TimeoutStopSec=5min
Restart=always
RestartSec=3
WorkingDirectory={{ volumes_root }}/traefik/

ExecStart=/usr/bin/docker-compose -p homelabos up
ExecStop=/usr/bin/docker-compose -p homelabos stop && /usr/bin/docker-compose -p homelabos rm -f

[Install]
WantedBy=multi-user.target