---
version: '3'

networks:
  traefik_network:
    external:
      name: homelabos_traefik

services:
  # Network level ad blocking
  pihole:
    image: pihole/pihole:latest
    restart: unless-stopped
    hostname: {{ domain }}
    dns:
      - 127.0.0.1
      - 1.1.1.1
    networks:
      - traefik_network
    cap_add:
      - NET_ADMIN
    volumes:
      - /var/homelabos/pihole/config/:/etc/pihole/
      - /var/homelabos/pihole/dnsmasq.d/:/etc/dnsmasq.d/
    environment:
      - WEBPASSWORD={{ default_password }}
      - VIRTUAL_HOST=pihole.{{ domain }}
      - ServerIP={{ homelab_ip }}
    ports:
      - 53:53/tcp
      - 53:53/udp
    labels:
      - "traefik.enable=true"
      - "traefik.docker.network=homelabos_traefik"
      - "traefik.http.services.pihole.loadbalancer.server.scheme=http"
      - "traefik.http.services.pihole.loadbalancer.server.port=80"
      - "traefik.http.routers.pihole-http.rule=Host(`pihole.{{ domain }}`)"
      - "traefik.http.routers.pihole-http.entrypoints=http"
      - "traefik.http.routers.pihole-http.middlewares=auth@file, redirect@file, customFrameHomelab@file"
      - "traefik.http.routers.pihole.rule=Host(`pihole.{{ domain }}`)"
      - "traefik.http.routers.pihole.entrypoints=https"
      - "traefik.http.routers.pihole.middlewares=auth@file, customFrameHomelab@file"
      - "traefik.http.routers.pihole.tls=true"
      - "traefik.http.routers.pihole.tls.domains[0].main={{ domain }}"
      - "traefik.http.routers.pihole.tls.domains[0].sans=*.{{ domain }}"
      - "traefik.http.routers.pihole.tls.certresolver=cloudflare-dns"
{% if enable_tor %}
      - "traefik.tor.frontend.rule=Host:pihole.{{ tor_domain }}"
      - "traefik.tor.protocol=http"
      - "traefik.tor.port=80"
{% endif %}
    extra_hosts:
{% for service in services %}
      - {{ service }}.{{ domain }}:{{ homelab_ip }}
{% endfor %}
