---
version: '3'

networks:
  traefik_network:
    external:
      name: homelabos_traefik
  pixelfed:

services:
  pixelfed:
    image: dmacedo/pixelfed:latest
    restart: unless-stopped
    networks:
      - traefik_network
      - pixelfed
    labels:
      - "traefik.http.services.pixelfed.loadbalancer.server.scheme=http"
      - "traefik.http.services.pixelfed.loadbalancer.server.port=80"
{% include './labels.j2' %}
    env_file:
      - "{{ volumes_root }}/pixelfed/pixelfed.env"
    environment:
      - APP_KEY="{{ lookup('password', './settings/passwords/pixelfed_app_key chars=ascii_letters length=32') }}"
      - DB_PASSWORD="{{ lookup('password', './settings/passwords/pixelfed_db_password chars=ascii_letters') }}"
    volumes:
      - "{{ volumes_root }}/pixelfed/pixelfed.env:/var/www/.env"
      - "{{ volumes_root }}/pixelfed/storage:/var/www/storage"

  worker: # Comment this whole block if HORIZON_EMBED is true.
    image: dmacedo/pixelfed:latest
    networks:
      - pixelfed
    restart: unless-stopped
    env_file:
      - "{{ volumes_root }}/pixelfed/pixelfed.env"
    environment:
      - DB_PASSWORD="{{ lookup('password', './settings/passwords/pixelfed_db_password chars=ascii_letters') }}"
    volumes:
      - "{{ volumes_root }}/pixelfed/storage:/var/www/storage"
    command: gosu www-data php artisan horizon

  db:
    image: mariadb:{{ pixelfed.db_version }}
    restart: unless-stopped
    networks:
      - pixelfed
    environment:
      - MYSQL_DATABASE=pixelfed
      - MYSQL_PASSWORD={{ lookup('password', './settings/passwords/pixelfed_db_password chars=ascii_letters') }}
      - MYSQL_USER=pixelfed
      - MYSQL_ROOT_PASSWORD="{{ lookup('password', './settings/passwords/pixelfed_db_root_password chars=ascii_letters') }}"
    volumes:
      - "{{ volumes_root }}/pixelfed/mysql:/var/lib/mysql"

  redis:
    image: redis:6-alpine
    restart: unless-stopped
    networks:
      - pixelfed
    volumes:
      - "{{ volumes_root }}/pixelfed/redis:/data"
    command: >
     --requirepass "{{ lookup('password', './settings/passwords/pixelfed_redis_password chars=ascii_letters length=15') }}"
