---
version: '3'

networks:
  traefik_network:
    external:
      name: homelabos_traefik

services:
  app:
    image: octoprint/octoprint
    restart: unless-stopped
    networks:
      - traefik_network
    volumes:
      - "{{ volumes_root }}/octoprint/config:/home/octoprint"
{% if octoprint.serial %}
    devices:
      - {{ octoprint.serial }}:{{ octoprint.serial }}
{% else %}
{% endif %}
    labels:
      - "traefik.http.services.octoprint.loadbalancer.server.scheme=http"
      - "traefik.http.services.octoprint.loadbalancer.server.port=5000"
{% include './labels.j2' %}
