[{{ nut.ups_name }}]
  driver = {{ nut.driver }}
  port = {{ nut.device_port }}
  vendorid = {{ nut.vendorid }}
  productid = {{ nut.productid }}
  desc = "{{ nut.desc }}"
  pollinterval = {{ nut.poll_interval }}
  maxretry = {{ nut.max_retry }}
