---
version: '2'

networks:
  traefik_network:
    external:
      name: homelabos_traefik
services:
  duplicati:
    networks:
      - traefik_network
    image: linuxserver/duplicati
    container_name: duplicati
    environment:
      - PUID=1000
      - PGID=1000
    volumes:
      - /var/homelabos/duplicati/config:/config
      - /var/homelabos/duplicati/backups:/backups
      - /var/homelabos/duplicati/source:/source
    ports:
      - 8200:8200
    labels:
      - "traefik.enable=true"
      - "traefik.docker.network=homelabos_traefik"
      - "traefik.http.services.duplicati.loadbalancer.server.scheme=http"
      - "traefik.http.services.duplicati.loadbalancer.server.port=8200"
      - "traefik.http.routers.duplicati-http.rule=Host(`duplicati.{{ domain }}`)"
      - "traefik.http.routers.duplicati-http.entrypoints=http"
      - "traefik.http.routers.duplicati-http.middlewares=auth@file, redirect@file, customFrameHomelab@file"
      - "traefik.http.routers.duplicati.rule=Host(`duplicati.{{ domain }}`)"
      - "traefik.http.routers.duplicati.entrypoints=https"
      - "traefik.http.routers.duplicati.middlewares=auth@file, customFrameHomelab@file"
      - "traefik.http.routers.duplicati.tls=true"
      - "traefik.http.routers.duplicati.tls.domains[0].main={{ domain }}"
      - "traefik.http.routers.duplicati.tls.domains[0].sans=*.{{ domain }}"
      - "traefik.http.routers.duplicati.tls.certresolver=cloudflare-dns"
{% if enable_tor %}
      - "traefik.tor.frontend.rule=Host:duplicati.{{ tor_domain }}"
      - "traefik.tor.protocol=http"
      - "traefik.tor.port=8200"
{% endif %}
    restart: unless-stopped
