networks:
  traefik_network:
    name: homelabos_traefik
    external: true

services:
  # Torrent Downloader https://homelabos.com/docs/software/transmission/
  transmission:
    image: haugene/transmission-wireguard:{{ transmission.version }}
    privileged: true
    sysctls:
      - "net.ipv6.conf.all.disable_ipv6=0"
    networks:
      - traefik_network
    cap_add:
      - NET_ADMIN
    devices:
      - /dev/net/tun
    restart: unless-stopped
    ports:
      - "8888:8888"
    dns:
      - 8.8.8.8
      - 8.8.4.4
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - "{{ volumes_root }}/transmission:/wg-config/"
      - "{{ storage_dir }}/Downloads:/data"
      - "{{ storage_dir }}/Downloads/watch:/data/watch"
      - "{{ storage_dir }}/Video/Movies:/movies"
      - "{{ storage_dir }}/Video/TV:/tv"
    environment:
      - CONFIG_FILE=/wg-config/{{ transmission.wg_config | default('wg0.conf') }}  # A config file within your wireguard config mount
      - PGID=0
      - PUID=0
      - TZ={{ common_timezone }}
      - TRANSMISSION_RPC_AUTHENTICATION_REQUIRED=true
      - TRANSMISSION_RPC_PASSWORD={{ default_password }}
      - TRANSMISSION_RPC_USERNAME={{ default_username }}
      - TRANSMISSION_DOWNLOAD_DIR=/data/complete
      - TRANSMISSION_SPEED_LIMIT_UP=100
      - TRANSMISSION_SPEED_LIMIT_UP_ENABLED=true
      - TRANSMISSION_SPEED_LIMIT_DOWN=100
      - TRANSMISSION_SPEED_LIMIT_DOWN_ENABLED=true
      - TRANSMISSION_RATIO_LIMIT=2
      - TRANSMISSION_RATIO_LIMIT_ENABLED=true
{% include './labels.j2' %}
