---
version: '3'

networks:
  traefik_network:
    external:
      name: homelabos_traefik

services:
  # Speedtest-tracker
  app:
    image: henrywhitaker3/speedtest-tracker:{{ speedtest_tracker.version }}
    restart: unless-stopped
    networks:
      - traefik_network
    environment:
      - OOKLA_EULA_GDPR=true
      - TZ={{ common_timezone }}
      - PUID=1
      - PGID=1
    volumes:
      - "{{ volumes_root }}/speedtest_tracker/config:/config"
    logging:
      driver: "json-file"
      options:
        max-file: "10"
        max-size: "200k"
{% include './labels.j2' %}
