---
version: '3'

# This networks section required for the package to be visible to Traefik.
# DO NOT Remove
networks:
  traefik_network:
    external:
      name: homelabos_traefik

services:
  teedydb:
    networks:
      - traefik_network
    image: postgres:latest
    environment:
      - POSTGRES_DB=docs
      - POSTGRES_PASSWORD={{lookup('password', './settings/passwords/teedy_postgres_password')}}
    volumes:
      - "{{ volumes_root }}/teedy/postgres_data:/var/lib/postgresql/data"
  app:
    image: sismics/docs:v1.8
    restart: unless-stopped
    depends_on:
      - teedydb
    networks:
      - traefik_network
    volumes:
      - "{{ storage_dir }}/Documents:/data"
    environment:
      - DOCS_BASE_URL={{ service_domain }}
      - DATABASE_URL=jdbc:postgresql://teedydb:5432/docs
      - DATABASE_USER=postgres
      - DATABASE_PASSWORD={{lookup('password', './settings/passwords/teedy_postgres_password')}}
    labels:
      - "traefik.enable=true"
      - "traefik.docker.network=homelabos_traefik"
      - "traefik.http.services.teedy.loadbalancer.server.scheme=http"
      - "traefik.http.services.teedy.loadbalancer.server.port=8080"
      - "traefik.http.routers.teedy-http.rule=Host(`{{ service_domain }}`)"
      - "traefik.http.routers.teedy-http.entrypoints=http"
{% if not teedy.https_only %}
      - "traefik.http.routers.teedy-http.middlewares={% if teedy.https_only %}redirect@file, {% else %}{% if teedy.auth %}{% if authelia.enable %}authelia@file{% else %}basicAuth@file{% endif %}, {% endif %}{% endif %}customFrameHomelab@file"
{% else %}
      - "traefik.http.middlewares.redirect-to-https.redirectscheme.scheme=https"
      - "traefik.http.routers.teedy-http.middlewares=redirect-to-https"
{% endif %}
      - "traefik.http.routers.teedy.rule=Host(`{{ service_domain }}`)"
      - "traefik.http.routers.teedy.entrypoints=https"
      - "traefik.http.routers.teedy.middlewares={% if teedy.auth %}{% if authelia.enable %}authelia@file{% else %}basicAuth@file{% endif %}, {% endif %}customFrameHomelab@file"
      - "traefik.http.routers.teedy.tls=true"
{% if traefik.dns_challenge_provider %}
      - "traefik.http.routers.teedy.tls.certresolver=dns"
      - "traefik.http.routers.teedy.tls.domains[0].main={{ domain }}"
      - "traefik.http.routers.teedy.tls.domains[0].sans=*.{{ domain }}"
{% else %}
      - "traefik.http.routers.teedy.tls.certresolver=http"
{% endif %}
{% if enable_tor %}
      - "traefik.http.routers.teedy-tor-http.rule=Host(`{{ lookup('vars', service_item).subdomain }}.{{ tor_domain }}`)"
      - "traefik.http.routers.teedy-tor-http.entrypoints=http"
      - "traefik.http.routers.teedy-tor-http.middlewares={% if teedy.auth %}{% if authelia.enable %}authelia-tor@file{% else %}basicAuth@file{% endif %}, {% endif %}customFrameHomelab-tor@file"
{% endif %}
