[Unit]
Description=HomelabOS bookstack Service
After=docker.service
Requires=docker.service

[Service]
TimeoutSec=infinity
Restart=always
RestartSec=3

ExecStartPre=/usr/bin/docker-compose -f /var/homelabos/bookstack/docker-compose.bookstack.yml -p bookstack down

ExecStart=/usr/bin/docker-compose -f /var/homelabos/bookstack/docker-compose.bookstack.yml -p bookstack up
ExecStop=/usr/bin/docker-compose -f /var/homelabos/bookstack/docker-compose.bookstack.yml -p bookstack stop

[Install]
WantedBy=multi-user.target