---
version: '3'

networks:
  traefik_network:
    external:
      name: homelabos_traefik
  bookstack:

services:
  mariadb:
    image: ghcr.io/linuxserver/mariadb:{{ bookstack.db_version }}
    networks:
      - bookstack
    restart: unless-stopped
    environment:
    - MYSQL_ROOT_PASSWORD={{lookup('password', './settings/passwords/bookstack_db_root_password chars=ascii_letters')}}
    - MYSQL_DATABASE=bookstack
    - MYSQL_USER=bookstack
    - MYSQL_PASSWORD={{lookup('password', './settings/passwords/bookstack_db_password chars=ascii_letters')}}
    volumes:
    - "{{ volumes_root }}/bookstack/mysql-data:/var/lib/mysql"

  bookstack:
    image: ghcr.io/linuxserver/bookstack:{{ bookstack.version }}
    networks:
      - traefik_network
      - bookstack
    restart: unless-stopped
    depends_on:
    - mariadb
    environment:
    - DB_HOST=mariadb
    - DB_DATABASE=bookstack
    - DB_USERNAME=bookstack
    - DB_PASSWORD={{lookup('password', './settings/passwords/bookstack_db_password chars=ascii_letters')}}
    - APP_URL=https://{% if bookstack.domain %}{{ bookstack.domain }}{% else %}{{ bookstack.subdomain + "." + domain }}{% endif %}
    volumes:
    - "{{ volumes_root }}/bookstack/uploads:/var/www/bookstack/public/uploads"
    - "{{ volumes_root }}/bookstack/storage-uploads:/var/www/bookstack/public/storage"
    labels:
      - "traefik.http.services.bookstack.loadbalancer.server.scheme=http"
      - "traefik.http.services.bookstack.loadbalancer.server.port=80"
{% include './labels.j2' %}
