---
version: '3'

networks:
  traefik_network:
    external:
      name: homelabos_traefik
  grownnetics:

services:
  growdash:
    restart: always
    networks:
        - grownnetics
    environment:
        - DEV
        - FACILITY_NAME
        - FACILITY_ID
        - CERES
        - DEMO
        - ENVIRONMENT
        - REMOTE_URL
        - VERSION
        - SHORT_NAME

        - SET_POINT_ALARM_TOLERANCE_PERCENTAGE
        - BURNOUT_PROTECTION_DELAY

        - DB_HOSTNAME
        - MYSQL_ROOT_PASSWORD
        - MYSQL_DATABASE
        - MYSQL_TEST_DATABASE
        - MYSQL_USER
        - MYSQL_PASSWORD

        - REDIS_HOSTNAME
        - RABBIT_HOST
        - RABBIT_PORT
        - RABBIT_USER
        - RABBIT_PASS
        - INFLUX_HOST
        - INFLUX_PORT

        - SMTP_HOST
        - SMTP_USER
        - SMTP_PASS
    image: grownetics/growdash:${VERSION}
    volumes:
        - ./tmp:/tmp:cached

  deviceapi:
    restart: always
    networks:
        - grownnetics
    links:
        - appdb
        - redis
        - rabbitmq
    environment:
        - DEV
        - FACILITY_NAME
        - FACILITY_ID
        - CERES
        - ENVIRONMENT
        - REMOTE_URL
        - VERSION
        - SHORT_NAME

        - SET_POINT_ALARM_TOLERANCE_PERCENTAGE
        - BURNOUT_PROTECTION_DELAY

        - DB_HOSTNAME
        - MYSQL_ROOT_PASSWORD
        - MYSQL_DATABASE
        - MYSQL_TEST_DATABASE
        - MYSQL_USER
        - MYSQL_PASSWORD

        - REDIS_HOSTNAME
        - RABBIT_HOST
        - RABBIT_PORT
        - RABBIT_USER
        - RABBIT_PASS
        - INFLUX_HOST
        - INFLUX_PORT
    image: grownetics/growdash:${VERSION}
    volumes:
      - ./tmp:/tmp:cached

  nginx:
    image: grownetics/nginx:${VERSION}
    networks:
        - traefik_network
        - grownnetics
    restart: always
    links:
        - growdash
        - deviceapi
    labels:
      - "traefik.http.services.grownetics.loadbalancer.server.scheme=http"
      - "traefik.http.services.grownetics.loadbalancer.server.port=80"
{% include './labels.j2' %}

  appdb:
    image: mariadb #:10.3
    restart: always
    command: mysqld --sql_mode=""
    environment:
        - MYSQL_ROOT_PASSWORD
        - MYSQL_DATABASE
        - MYSQL_TEST_DATABASE
        - MYSQL_USER
        - MYSQL_PASSWORD
    volumes:
        - ./data/appdb:/var/lib/mysql
    networks:
        - grownnetics

  redis:
    image: redis
    restart: always
    networks:
        - grownnetics

  growsocket:
    image: grownetics/socketio:latest
    restart: always
    ports:
        - 8989:8989
    links:
        - rabbitmq
        - nginx
    labels:
        io.rancher.container.pull_image: always
        io.rancher.scheduler.affinity:host_label_ne: onsite=true
    networks:
        - grownnetics

  rabbitmq:
    image: rabbitmq:3.6-management-alpine
    restart: always
    environment:
        # - RABBITMQ_DEFAULT_USER:RABBIT_USER
        - RABBITMQ_DEFAULT_USER=rabbit
        # - RABBITMQ_DEFAULT_PASS:RABBIT_PASS
        - RABBITMQ_DEFAULT_PASS=rabbit
    ports:
        - "15672:15672"
        - "5672:5672"
    networks:
        - grownnetics
