---
- name: Make lidarr directory.
  file:
    path: "/var/homelabos/lidarr"
    state: directory

- name: Get UID
  command: id -u
  register: uid_output
  become: false

- name: Get GID
  command: id -g
  register: gid_output
  become: false

- name: Copy lidarr docker-compose.yml file into place.
  template:
    src: docker-compose.lidarr.yml.j2
    dest: /var/homelabos/lidarr/docker-compose.lidarr.yml
  vars:
    uid: "{{ uid_output.stdout }}"
    gid: "{{ gid_output.stdout }}"

- name: Configure lidarr systemd service.
  template: src=service.j2 dest=/etc/systemd/system/lidarr.service

- name: Start lidarr
  systemd:
    name: lidarr
    enabled: "yes"
    daemon-reload: "yes"
    state: started
