---
version: '3'

networks:
  traefik_network:
    external:
      name: homelabos_traefik

services:
  # Dashboard
  organizr:
    image: organizr/organizr:latest
    restart: unless-stopped
    networks:
      - traefik_network
    environment:
      - fpm={{ organizr.fpm }}
      - branch={{ organizr.branch }}
    volumes:
      - "{{ volumes_root }}/organizr:/config"
{% include './labels.j2' %}
