---
version: '3'

networks:
  traefik_network:
    external:
      name: homelabos_traefik

services:
  # Plex Media Server
  plex:
    image: plexinc/pms-docker
    hostname: plex.{{ domain }}
    networks:
      - traefik_network
    restart: unless-stopped
    volumes:
      - /var/homelabos/plex:/config
      - {{ storage_dir }}/Music:/data/Music
      - {{ storage_dir }}/Movies:/data/Movies
      - {{ storage_dir }}/TV:/data/TV
      - {{ storage_dir }}/temp/transcode:/transcode
    environment:
      - TZ={{ common_timezone }}
      - PLEX_CLAIM={{ plex_claim }}
      - ADVERTISE_IP=http://{{ homelab_ip }}:32400/
    ports:
      - "32400:32400"
      - "3005:3005"
      - "8324:8324"
      - "32469:32649"
      - "1900:1900/udp"
      - "32410:32410/udp"
      - "32412:32412/udp"
      - "32413:32413/udp"
      - "32414:32414/udp"
    labels:
      - "traefik.enable=true"
      - "traefik.docker.network=homelabos_traefik"
      - "traefik.http.services.plex.loadbalancer.server.scheme=http"
      - "traefik.http.services.plex.loadbalancer.server.port=32400"
      - "traefik.http.routers.plex-http.rule=Host(`plex.{{ domain }}`)"
      - "traefik.http.routers.plex-http.entrypoints=http"
      - "traefik.http.routers.plex-http.middlewares=auth@file, redirect@file, customFrameHomelab@file"
      - "traefik.http.routers.plex.rule=Host(`plex.{{ domain }}`)"
      - "traefik.http.routers.plex.entrypoints=https"
      - "traefik.http.routers.plex.middlewares=auth@file, customFrameHomelab@file"
      - "traefik.http.routers.plex.tls=true"
      - "traefik.http.routers.plex.tls.domains[0].main={{ domain }}"
      - "traefik.http.routers.plex.tls.domains[0].sans=*.{{ domain }}"
      - "traefik.http.routers.plex.tls.certresolver=cloudflare-dns"
{% if enable_tor %}
      - "traefik.tor.frontend.rule=Host:plex.{{ tor_domain }}"
      - "traefik.tor.protocol=http"
      - "traefik.tor.port=32400"
{% endif %}