---
version: '3'

networks:
  traefik:
    driver: bridge

services:
  # Load Balancer / SSL / Web Server
  traefik:
    image: traefik
    restart: always
    networks:
      - traefik
    ports:
      - "80:80"
      - "443:443"
      - "8181:8080"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - /var/homelabos/traefik/traefik.toml:/traefik.toml
      - /var/homelabos/traefik/acme.json:/acme.json

...
