---
version: '3'

networks:
  traefik_network:
    external:
      name: homelabos_traefik

services:
  app:
    image: roest/docker-speedtest-analyser:{{ speedtest.version }}
    volumes:
      - "{{ volumes_root }}/speedtest/data:/var/www/html/data"
    restart: unless-stopped
    networks:
      - traefik_network
    environment:
      - SPEEDTEST_PARAMS= --server {{ speedtest.server }}
{% include './labels.j2' %}
