GF_SECURITY_ADMIN_PASSWORD={{lookup('password', './settings/passwords/internetmonitor_grafana_passwd chars=ascii_letters length=20')}}
GF_USERS_ALLOW_SIGN_UP=false
GF_INSTALL_PLUGINS=flant-statusmap-panel,ae3e-plotly-panel