---
version: '3'

networks:
  traefik_network:
    external:
      name: homelabos_traefik

services:
  # Home Inventory Management
  app:
    image: nickbusey/inventario
    restart: unless-stopped
    networks:
      - traefik_network
    environment:
      - MYSQL_DATABASE=inventario
      - MYSQL_TEST_DATABASE=inventario_test
      - MYSQL_USER=inventario
      - MYSQL_PASSWORD="{{lookup('password', './settings/passwords/inventario_db_password chars=digits')}}"
    labels:
      - "traefik.enable=true"
      - "traefik.docker.network=homelabos_traefik"
      - "traefik.http.services.inventario.loadbalancer.server.scheme=http"
      - "traefik.http.services.inventario.loadbalancer.server.port=80"
      - "traefik.http.routers.inventario-http.rule=Host(`inventario.{{ domain }}`)"
      - "traefik.http.routers.inventario-http.entrypoints=http"
      - "traefik.http.routers.inventario-http.middlewares=auth@file, redirect@file, customFrameHomelab@file"
      - "traefik.http.routers.inventario.rule=Host(`inventario.{{ domain }}`)"
      - "traefik.http.routers.inventario.entrypoints=https"
      - "traefik.http.routers.inventario.middlewares=auth@file, customFrameHomelab@file"
      - "traefik.http.routers.inventario.tls=true"
      - "traefik.http.routers.inventario.tls.domains[0].main={{ domain }}"
      - "traefik.http.routers.inventario.tls.domains[0].sans=*.{{ domain }}"
      - "traefik.http.routers.inventario.tls.certresolver=cloudflare-dns"
{% if enable_tor %}
      - "traefik.tor.frontend.rule=Host:inventario.{{ tor_domain }}"
      - "traefik.tor.protocol=http"
      - "traefik.tor.port=80"
{% endif %}

  inventario_db:
    image: mariadb
    restart: unless-stopped
    networks:
      - traefik_network
    volumes:
      - /var/homelabos/inventario_db:/var/lib/mysql
    environment:
      - MYSQL_ROOT_PASSWORD="{{lookup('password', './settings/passwords/inventario_db_root_password chars=digits')}}"
      - MYSQL_PASSWORD="{{lookup('password', './settings/passwords/inventario_db_password chars=digits')}}"
      - MYSQL_DATABASE=inventario
      - MYSQL_TEST_DATABASE=inventario_test
      - MYSQL_USER=inventario
      - MYSQL_PASSWORD=inventario
