---
version: '3'

networks:
  traefik_network:
    external:
      name: homelabos_traefik

services:
  # Document Storage
  paperless:
    image: danielquinn/paperless
    restart: unless-stopped
    networks:
      - traefik_network
    ports:
      - "8325:8000"
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8000"]
      interval: 30s
      timeout: 10s
      retries: 5
    volumes:
      - /var/homelabos/paperless/data:/usr/src/paperless/data
      - /var/homelabos/paperless/media:/usr/src/paperless/media
      - {{ storage_dir }}/Documents/consume:/consume
      - {{ storage_dir }}/Documents/export:/export
    environment:
      - PAPERLESS_OCR_LANGUAGES=
      - PAPERLESS_PASSPHRASE="{{lookup('password', './settings/passwords/paperless_passphrase chars=digits')}}"
    command: ["runserver", "--insecure", "--noreload", "0.0.0.0:8000"]
    labels:
      - "traefik.enable=true"
      - "traefik.docker.network=homelabos_traefik"
      - "traefik.http.services.paperless.loadbalancer.server.scheme=http"
      - "traefik.http.services.paperless.loadbalancer.server.port=8000"
      - "traefik.http.routers.paperless-http.rule=Host(`paperless.{{ domain }}`)"
      - "traefik.http.routers.paperless-http.entrypoints=http"
      - "traefik.http.routers.paperless-http.middlewares=auth@file, redirect@file, customFrameHomelab@file"
      - "traefik.http.routers.paperless.rule=Host(`paperless.{{ domain }}`)"
      - "traefik.http.routers.paperless.entrypoints=https"
      - "traefik.http.routers.paperless.middlewares=auth@file, customFrameHomelab@file"
      - "traefik.http.routers.paperless.tls=true"
      - "traefik.http.routers.paperless.tls.domains[0].main={{ domain }}"
      - "traefik.http.routers.paperless.tls.domains[0].sans=*.{{ domain }}"
      - "traefik.http.routers.paperless.tls.certresolver=cloudflare-dns"
{% if enable_tor %}
      - "traefik.tor.frontend.rule=Host:paperless.{{ tor_domain }}"
      - "traefik.tor.protocol=http"
      - "traefik.tor.port=8000"
{% endif %}

  paperless_consumer:
    image: danielquinn/paperless
    restart: unless-stopped
    networks:
      - traefik_network
    depends_on:
      - paperless
    volumes:
      - /var/homelabos/paperless/data:/usr/src/paperless/data
      - /var/homelabos/paperless/media:/usr/src/paperless/media
      - {{ storage_dir }}/Documents/consume:/consume
      - {{ storage_dir }}/Documents/export:/export
    environment:
      - PAPERLESS_PASSPHRASE=homelabos
    command: ["document_consumer"]
