---
version: '3'

# This networks section required for the package to be visible to Traefik.
# DO NOT Remove
networks:
  samba:
    driver: bridge

services:
  samba:
    restart: unless-stopped
    image: servercontainers/samba:{{ samba.version }}
    networks:
      - samba
    volumes:
      # This is the parent folder of all HLOS storage
      - "{{ storage_dir }}:/media"
    ports:
      - 139:139
      - 445:445
    environment:
      - SAMBA_CONF_WORKGROUP={{samba.workgroup}}
      - SAMBA_CONF_SERVER_STRING={{samba.server_string}}
      - SAMBA_CONF_MAP_TO_GUEST={{samba.map_to_guest}}
      - ACCOUNT_{{default_username}}={{default_password}}
      - SAMBA_VOLUME_CONFIG_HomelabOS="[HomelabOS]; path=/media; guest ok = yes; valid users = {{default_username}} read only = no; browseable = true;"
