---
version: '3'

networks:
  traefik_network:
    external:
      name: homelabos_traefik

services:
  # Password Manager
  bitwarden_web:
    image: bitwardenrs/server:latest
    restart: unless-stopped
    networks:
      - traefik_network
    volumes:
      - /var/homelabos/bitwarden:/data
    environment:
      - SMTP_HOST={{ smtp.host }}
      - SMTP_FROM={{ smtp.from_email }}
      - SMTP_PORT=587
      - SMTP_SSL=true
      - SMTP_USERNAME={{ smtp.user }}
      - SMTP_PASSWORD={{ smtp.pass }}
    labels:
      - "traefik.enable=true"
      - "traefik.docker.network=homelabos_traefik"
      - "traefik.http.services.bitwarden.loadbalancer.server.scheme=http"
      - "traefik.http.services.bitwarden.loadbalancer.server.port=80"
      - "traefik.http.routers.bitwarden-http.rule=Host(`bitwarden.{{ domain }}`)"
      - "traefik.http.routers.bitwarden-http.entrypoints=http"
      - "traefik.http.routers.bitwarden-http.middlewares=auth@file, redirect@file, customFrameHomelab@file"
      - "traefik.http.routers.bitwarden.rule=Host(`bitwarden.{{ domain }}`)"
      - "traefik.http.routers.bitwarden.entrypoints=https"
      - "traefik.http.routers.bitwarden.middlewares=auth@file, customFrameHomelab@file"
      - "traefik.http.routers.bitwarden.tls=true"
      - "traefik.http.routers.bitwarden.tls.domains[0].main={{ domain }}"
      - "traefik.http.routers.bitwarden.tls.domains[0].sans=*.{{ domain }}"
      - "traefik.http.routers.bitwarden.tls.certresolver=cloudflare-dns"
{% if enable_tor %}
      - "traefik.tor.frontend.rule=Host:bitwarden.{{ tor_domain }}"
      - "traefik.tor.protocol=http"
      - "traefik.tor.port=80"
{% endif %}
