---
- name: Make nextcloud directory.
  file:
    path: "{{ volumes_root }}/nextcloud"
    state: directory

- name: Get UID
  command: id -u {{ homelab_ssh_user }}
  register: uid_output
  become: false

- name: Get GID
  command: id -g {{ homelab_ssh_user }}
  register: gid_output
  become: false

- name: Copy nextcloud docker-compose.yml file into place.
  template:
    src: docker-compose.nextcloud.yml.j2
    dest: "{{ volumes_root }}/nextcloud/docker-compose.nextcloud.yml"
  vars:
    tor_domain: "{{ tor_http_domain_file.stdout | default('') }}"
    uid: "{{ uid_output.stdout }}"
    gid: "{{ gid_output.stdout }}"

- name: Configure nextcloud systemd service.
  template:
    src: service.j2
    dest: /etc/systemd/system/nextcloud.service

- name: Start nextcloud
  systemd:
    name: nextcloud
    enabled: "yes"
    daemon-reload: "yes"
    state: started
