---
version: '3'

networks:
  traefik_network:
    external:
      name: homelabos_traefik

services:
 # IRC Bouncer
  thelounge:
    image: linuxserver/thelounge
    restart: unless-stopped
    volumes:
      - /var/homelabos/thelounge:/config
    environment:
      - PUID={{ uid_output.stdout }}
      - PGID={{ gid_output.stdout }}
    networks:
      - traefik_network
    labels:
      - "traefik.enable=true"
      - "traefik.docker.network=homelabos_traefik"
      - "traefik.http.services.thelounge.loadbalancer.server.scheme=http"
      - "traefik.http.services.thelounge.loadbalancer.server.port=9000"
      - "traefik.http.routers.thelounge-http.rule=Host(`thelounge.{{ domain }}`)"
      - "traefik.http.routers.thelounge-http.entrypoints=http"
      - "traefik.http.routers.thelounge-http.middlewares=auth@file, redirect@file, customFrameHomelab@file"
      - "traefik.http.routers.thelounge.rule=Host(`thelounge.{{ domain }}`)"
      - "traefik.http.routers.thelounge.entrypoints=https"
      - "traefik.http.routers.thelounge.middlewares=auth@file, customFrameHomelab@file"
      - "traefik.http.routers.thelounge.tls=true"
      - "traefik.http.routers.thelounge.tls.domains[0].main={{ domain }}"
      - "traefik.http.routers.thelounge.tls.domains[0].sans=*.{{ domain }}"
      - "traefik.http.routers.thelounge.tls.certresolver=cloudflare-dns"
{% if enable_tor %}
      - "traefik.tor.frontend.rule=Host:thelounge.{{ tor_domain }}"
      - "traefik.tor.protocol=http"
      - "traefik.tor.port=9000"
{% endif %}
