      - "traefik.enable=true"
      - "traefik.docker.network=homelabos_traefik"
      - "traefik.http.services.restic.loadbalancer.server.scheme=http"
      - "traefik.http.services.restic.loadbalancer.server.port=0"
      - "traefik.http.routers.restic-http.rule=Host(`{{ restic.subdomain }}.{{ domain }}`)"
      - "traefik.http.routers.restic-http.entrypoints=http"
{% if not restic.https_only %}
      - "traefik.http.routers.restic-http.middlewares={% if restic.https_only %}redirect@file, {% else %}{% if restic.auth %}{% if authelia.enable %}authelia@file{% else %}basicAuth@file{% endif %}, {% endif %}{% endif %}customFrameHomelab@file"
{% else %}
      - "traefik.http.middlewares.redirect-to-https.redirectscheme.scheme=https"
      - "traefik.http.routers.restic-http.middlewares=redirect-to-https"
{% endif %}
      - "traefik.http.routers.restic.rule=Host(`{{ restic.subdomain }}.{{ domain }}`)"
      - "traefik.http.routers.restic.entrypoints=https"
      - "traefik.http.routers.restic.middlewares={% if restic.auth %}{% if authelia.enable %}authelia@file{% else %}basicAuth@file{% endif %}, {% endif %}customFrameHomelab@file"
      - "traefik.http.routers.restic.tls=true"
---
version: '3'

networks:
  traefik_network:
    external:
      name: homelabos_traefik

services:
  # Backups https://nickbusey.gitlab.io/HomelabOS/software/restic/
  restic:
    image: lobaro/restic-backup-docker
    restart: unless-stopped
    environment:
      - RESTIC_REPOSITORY={{ s3_path }}
      - AWS_ACCESS_KEY_ID={{ s3_access_key }}
      - AWS_SECRET_ACCESS_KEY={{ s3_secret_key }}
      - RESTIC_PASSWORD={{ s3_backup_password }}
      - BACKUP_CRON={{ s3_backup_cron }}
      - HOSTNAME={{ domain }}
      - RESTIC_JOB_ARGS="--exclude=minio --host {{ domain }}"
      - RESTIC_FORGET_ARGS="--prune --keep-last 10 --keep-daily 7 --keep-weekly 52 --keep-monthly 120 --keep-yearly 100"
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - "{{ volumes_root }}:/data:ro"
