---
version: '3'

services:
  # IFTTT Replacement
  kibitzr:
    image: peterdemin/kibitzr
    restart: unless-stopped
    volumes:
      - "{{ volumes_root }}/kibitzr/config:/root/.config/kibitzr"
      - "{{ volumes_root }}/kibitzr/pages:/pages"
