---
version: '3'

networks:
  traefik_network:
    external:
      name: homelabos_traefik

services:
  jenkins:
    image: jenkinsci/blueocean:latest
    restart: unless-stopped
    networks:
      - traefik_network
    volumes:
      - "{{ volumes_root }}/jenkins/jenkins_home:/var/jenkins_home"
{% if jenkins.allow_docker %}
      - /var/run/docker.sock:/var/run/docker.sock
{% endif %}
    labels:
      - "traefik.enable=true"
      - "traefik.docker.network=homelabos_traefik"
      - "traefik.http.services.jenkins.loadbalancer.server.scheme=http"
      - "traefik.http.services.jenkins.loadbalancer.server.port=8080"
      - "traefik.http.routers.jenkins-http.service=jenkins"
      - "traefik.http.routers.jenkins-http.rule=Host(`{{ service_domain }}`)"
      - "traefik.http.routers.jenkins-http.entrypoints=http"
      - "traefik.http.routers.jenkins-http.middlewares={% if jenkins.https_only %}redirect@file, {% else %}{% if jenkins.auth %}{% if authelia.enable %}authelia@file{% else %}basicAuth@file{% endif %}, {% endif %}{% endif %}customFrameHomelab@file"
      - "traefik.http.routers.jenkins.rule=Host(`{{ service_domain }}`)"
      - "traefik.http.routers.jenkins.entrypoints=https"
      - "traefik.http.routers.jenkins.middlewares={% if jenkins.auth %}{% if authelia.enable %}authelia@file{% else %}basicAuth@file{% endif %}, {% endif %}customFrameHomelab@file"
      - "traefik.http.routers.jenkins.tls=true"
{% if traefik.dns_challenge_provider %}
      - "traefik.http.routers.jenkins.tls.certresolver=dns"
      - "traefik.http.routers.jenkins.tls.domains[0].main={{ domain }}"
      - "traefik.http.routers.jenkins.tls.domains[0].sans=*.{{ domain }}"
{% else %}
      - "traefik.http.routers.jenkins.tls.certresolver=http"
{% endif %}
{% if enable_tor %}
      - "traefik.http.routers.jenkins-tor-http.rule=Host(`{{ lookup('vars', service_item).subdomain }}.{{ tor_domain }}`)"
      - "traefik.http.routers.jenkins-tor-http.entrypoints=http"
      - "traefik.http.routers.jenkins-tor-http.middlewares={% if jenkins.auth %}{% if authelia.enable %}authelia-tor@file{% else %}basicAuth@file{% endif %}, {% endif %}customFrameHomelab-tor@file"
{% endif %}
