---
version: '3'

networks:
  traefik_network:
    external:
      name: homelabos_traefik

services:
  mongo:
    image: mongo:3
    command: --serviceExecutor adaptive
    volumes:
      - {{ volumes_root }}/graylog/mongo_data:/data/db
    networks:
      - traefik_network
    labels:
      - "traefik.enable=false"

  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch-oss:6.8.8
    environment:
      - http.host=0.0.0.0
      - bootstrap.memory_lock=true
      - transport.host=localhost
      - network.host=0.0.0.0
      - "ES_JAVA_OPTS=-Xms512m -Xmx512m"
    ulimits:
      memlock:
        soft: -1
        hard: -1
#    mem_limit: 1g
    volumes:
      - {{ volumes_root }}/graylog/es_data:/usr/share/elasticsearch/data
    networks:
      - traefik_network
    labels:
      - "traefik.enable=false"

  graylog:
    image: graylog/graylog:3.2
    restart: unless-stopped
    environment:
      - GRAYLOG_ROOT_USERNAME={{ default_username }}
      # (GRAYLOG_PASSWORD_SECRET must be at least 16 characters)!
      - GRAYLOG_PASSWORD_SECRET={{lookup('password', './settings/passwords/graylog_password_secret length=16')}}
      - GRAYLOG_ROOT_PASSWORD_SHA2={{ graylog_root_pw.stdout }} ## TODO: find another way
      - GRAYLOG_HTTP_EXTERNAL_URI=http://{% if graylog.domain %}{{ graylog.domain }}{% else %}{{ graylog.subdomain + "." + domain }}{% endif %}/
      - GRAYLOG_HTTP_BIND_ADDRESS=0.0.0.0:9000
{% if smtp.host %}
      - GRAYLOG_TRANSPORT_EMAIL_ENABLED=True
      - GRAYLOG_TRANSPORT_EMAIL_HOSTNAME={{ smtp.host }}
      - GRAYLOG_TRANSPORT_EMAIL_PORT={{ smtp.port }}
      #- GRAYLOG_TRANSPORT_EMAIL_USE_AUTH=
      #- GRAYLOG_TRANSPORT_EMAIL_USE_TLS=
      #- GRAYLOG_TRANSPORT_EMAIL_USE_SSL=
      - GRAYLOG_TRANSPORT_EMAIL_AUTH_USERNAME={{ smtp.user }}
      - GRAYLOG_TRANSPORT_EMAIL_AUTH_PASSWORD={{ smtp.pass }}
      - GRAYLOG_TRANSPORT_EMAIL_FROM={{ smtp.from_email }}
  {% else %}
      - GRAYLOG_TRANSPORT_EMAIL_ENABLED=False
{% endif %}

      - GRAYLOG_ROOT_TIMEZONE={{ common_timezone }}
      - GRAYLOG_ALLOW_HIGHLIGHTING={{ graylog.allow_highlighting }}
      - GRAYLOG_ALLOW_LEADING_WILDCARD_SEARCHES={{ graylog.allow_leading_wildcard_searches }}
    volumes:
      - {{ volumes_root }}/graylog/graylog_journal:/usr/share/graylog/data/journal
      - {{ volumes_root }}/graylog/graylog_plugin:/usr/share/graylog/plugin/
    networks:
      - traefik_network
    depends_on:
      - mongo
      - elasticsearch
    ports:
      # Graylog web interface and REST API
      #- 9000:9000
      # Netflow
      - 2055:2055
      # Beats
      - 5044:5044
      # Syslog TCP
      - 1514:1514
      # Syslog UDP
      - 1514:1514/udp
      # GELF TCP
      - 12201:12201
      # GELF UDP
      - 12201:12201/udp

    labels:
      - "traefik.enable=true"
      - "traefik.docker.network=homelabos_traefik"
      - "traefik.http.middlewares.httpsHeader.headers.customrequestheaders.X-Graylog-Server-URL=https://{% if graylog.domain %}{{ graylog.domain }}{% else %}{{ graylog.subdomain + "." + domain }}{% endif %}"
      - "traefik.http.middlewares.httpHeader.headers.customrequestheaders.X-Graylog-Server-URL=http://{% if graylog.domain %}{{ graylog.domain }}{% else %}{{ graylog.subdomain + "." + domain }}{% endif %}"
      - "traefik.http.services.graylog.loadbalancer.server.scheme=http"
      - "traefik.http.services.graylog.loadbalancer.server.port=9000"
      - "traefik.http.routers.graylog-http.rule=Host(`{% if graylog.domain %}{{ graylog.domain }}{% else %}{{ graylog.subdomain + "." + domain }}{% endif %}`)"
      - "traefik.http.routers.graylog-http.entrypoints=http"
{% if not graylog.https_only %}
      - "traefik.http.routers.graylog-http.middlewares=httpHeader,{% if graylog.https_only %}redirect@file, {% else %}{% if graylog.auth %}{% if authelia.enable %}authelia@file{% else %}basicAuth@file{% endif %}, {% endif %}{% endif %}customFrameHomelab@file"
{% else %}
      - "traefik.http.middlewares.redirect-to-https.redirectscheme.scheme=https"
      - "traefik.http.routers.graylog-http.middlewares=redirect-to-https"
{% endif %}
      - "traefik.http.routers.graylog.rule=Host(`{% if graylog.domain %}{{ graylog.domain }}{% else %}{{ graylog.subdomain + "." + domain }}{% endif %}`)"
      - "traefik.http.routers.graylog.entrypoints=https"
      - "traefik.http.routers.graylog.middlewares=httpsHeader,{% if graylog.auth %}{% if authelia.enable %}authelia@file{% else %}basicAuth@file{% endif %}, {% endif %}customFrameHomelab@file"
      - "traefik.http.routers.graylog.tls=true"
{% if traefik.dns_challenge_provider %}
      - "traefik.http.routers.graylog.tls.certresolver=dns"
      - "traefik.http.routers.graylog.tls.domains[0].main={{ domain }}"
      - "traefik.http.routers.graylog.tls.domains[0].sans=*.{{ domain }}"
{% else %}
      - "traefik.http.routers.graylog.tls.certresolver=http"
{% endif %}
{% if enable_tor %}
      - "traefik.http.routers.graylog-tor-http.rule=Host(`{{ graylog.subdomain }}.{{ tor_domain }}`)"
      - "traefik.http.routers.graylog-tor-http.entrypoints=http"
      - "traefik.http.routers.graylog-tor-http.middlewares={% if graylog.auth %}{% if authelia.enable %}authelia-tor@file{% else %}basicAuth@file{% endif %}, {% endif %}customFrameHomelab-tor@file"
{% endif %}
