---
version: '3'

networks:
  traefik_network:
    external:
      name: homelabos_traefik

services:
  mongo:
    image: mongo:3
    command: --serviceExecutor adaptive
    volumes:
      - {{ volumes_root }}/graylog/mongo_data:/data/db

  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch-oss:6.8.8
    environment:
      - http.host=0.0.0.0
      - bootstrap.memory_lock=true
      - transport.host=localhost
      - network.host=0.0.0.0
      - "ES_JAVA_OPTS=-Xms512m -Xmx512m"
    ulimits:
      memlock:
        soft: -1
        hard: -1
    volumes:
      - {{ volumes_root }}/graylog/es_data:/usr/share/elasticsearch/data

  graylog:
    image: graylog/graylog:{{ graylog.version }}
    restart: unless-stopped
    environment:
      - GRAYLOG_ROOT_USERNAME={{ default_username }}
      # (GRAYLOG_PASSWORD_SECRET must be at least 16 characters)!
      - GRAYLOG_PASSWORD_SECRET={{lookup('password', './settings/passwords/graylog_password_secret length=16')}}
      - GRAYLOG_ROOT_PASSWORD_SHA2={{ graylog_root_pw.stdout }} ## TODO: find another way
      - GRAYLOG_HTTP_EXTERNAL_URI=http://{% if graylog.domain %}{{ graylog.domain }}{% else %}{{ graylog.subdomain + "." + domain }}{% endif %}/
      - GRAYLOG_HTTP_BIND_ADDRESS=0.0.0.0:9000
{% if smtp.host %}
      - GRAYLOG_TRANSPORT_EMAIL_ENABLED=True
      - GRAYLOG_TRANSPORT_EMAIL_HOSTNAME={{ smtp.host }}
      - GRAYLOG_TRANSPORT_EMAIL_PORT={{ smtp.port }}
      #- GRAYLOG_TRANSPORT_EMAIL_USE_AUTH=
      #- GRAYLOG_TRANSPORT_EMAIL_USE_TLS=
      #- GRAYLOG_TRANSPORT_EMAIL_USE_SSL=
      - GRAYLOG_TRANSPORT_EMAIL_AUTH_USERNAME={{ smtp.user }}
      - GRAYLOG_TRANSPORT_EMAIL_AUTH_PASSWORD={{ smtp.pass }}
      - GRAYLOG_TRANSPORT_EMAIL_FROM={{ smtp.from_email }}
  {% else %}
      - GRAYLOG_TRANSPORT_EMAIL_ENABLED=False
{% endif %}

      - GRAYLOG_ROOT_TIMEZONE={{ common_timezone }}
      - GRAYLOG_ALLOW_HIGHLIGHTING={{ graylog.allow_highlighting }}
      - GRAYLOG_ALLOW_LEADING_WILDCARD_SEARCHES={{ graylog.allow_leading_wildcard_searches }}
    volumes:
      - {{ volumes_root }}/graylog/graylog_journal:/usr/share/graylog/data/journal
      - {{ volumes_root }}/graylog/graylog_plugin:/usr/share/graylog/plugin/
    networks:
      - traefik_network
    depends_on:
      - mongo
      - elasticsearch
    ports:
      # Graylog web interface and REST API
      #- 9000:9000
      # Netflow
      - 2055:2055
      # Beats
      - 5044:5044
      # Syslog TCP
      - 1514:1514
      # Syslog UDP
      - 1514:1514/udp
      # GELF TCP
      - 12201:12201
      # GELF UDP
      - 12201:12201/udp
{% include './labels.j2' %}
