---
version: '3'

networks:
  traefik_network:
    external:
      name: homelabos_traefik

services:
 # Graphing
  grafana:
    image: grafana/grafana
    restart: unless-stopped
    networks:
      - traefik_network
    volumes:
      - /var/homelabos/grafana/data/:/var/lib/grafana/
      - /var/homelabos/grafana/dashboards/:/etc/grafana/provisioning/dashboards/
      - /var/homelabos/grafana/datasources/:/etc/grafana/provisioning/datasources/
    environment:
      - GF_INSTALL_PLUGINS=grafana-clock-panel,natel-discrete-panel,petrslavotinek-carpetplot-panel,vonage-status-panel,raintank-worldping-app
{% if smtp.host %}
      - GF_SMTP_ENABLED=true
      - GF_SMTP_HOST={{ smtp.host }}:{{ smtp.port }}
      - GF_SMTP_USER={{ smtp.user }}
      - GF_SMTP_PASSWORD={{ smtp.pass }}
      - GF_SMTP_FROM_ADDRESS={{ smtp.from_email }}
      - GF_SMTP_FROM_NAME={{ smtp.from_name }}
{% endif %}
      - GF_SECURITY_ADMIN_USER={{ default_username }}
      - GF_SECURITY_ADMIN_PASSWORD={{ default_password }}
    labels:
      - "traefik.enable=true"
      - "traefik.docker.network=homelabos_traefik"
      - "traefik.http.services.grafana.loadbalancer.server.scheme=http"
      - "traefik.http.services.grafana.loadbalancer.server.port=3000"
      - "traefik.http.routers.grafana-http.rule=Host(`grafana.{{ domain }}`)"
      - "traefik.http.routers.grafana-http.entrypoints=http"
      - "traefik.http.routers.grafana-http.middlewares=auth@file, redirect@file, customFrameHomelab@file"
      - "traefik.http.routers.grafana.rule=Host(`grafana.{{ domain }}`)"
      - "traefik.http.routers.grafana.entrypoints=https"
      - "traefik.http.routers.grafana.middlewares=auth@file, customFrameHomelab@file"
      - "traefik.http.routers.grafana.tls=true"
      - "traefik.http.routers.grafana.tls.domains[0].main={{ domain }}"
      - "traefik.http.routers.grafana.tls.domains[0].sans=*.{{ domain }}"
      - "traefik.http.routers.grafana.tls.certresolver=cloudflare-dns"
{% if enable_tor %}
      - "traefik.tor.frontend.rule=Host:grafana.{{ tor_domain }}"
      - "traefik.tor.protocol=http"
      - "traefik.tor.port=3000"
{% endif %}
