---
version: '3'

networks:
  traefik_network:
    external:
      name: homelabos_traefik

services:
  # Torrent API
  jackett:
    image: linuxserver/jackett
    restart: unless-stopped
    volumes:
      - /var/homelabos/jackett/config:/config
      - /var/homelabos/jackett/downloads:/downloads
      - /etc/localtime:/etc/localtime:ro
    environment:
      - TZ={{ common_timezone }}
      - PUID={{ uid_output.stdout }}
      - PGID={{ gid_output.stdout }}
    networks:
      - traefik_network
    labels:
      - "traefik.enable=true"
      - "traefik.docker.network=homelabos_traefik"
      - "traefik.http.services.jackett.loadbalancer.server.scheme=http"
      - "traefik.http.services.jackett.loadbalancer.server.port=9117"
      - "traefik.http.routers.jackett-http.rule=Host(`jackett.{{ domain }}`)"
      - "traefik.http.routers.jackett-http.entrypoints=http"
      - "traefik.http.routers.jackett-http.middlewares=auth@file, redirect@file, customFrameHomelab@file"
      - "traefik.http.routers.jackett.rule=Host(`jackett.{{ domain }}`)"
      - "traefik.http.routers.jackett.entrypoints=https"
      - "traefik.http.routers.jackett.middlewares=auth@file, customFrameHomelab@file"
      - "traefik.http.routers.jackett.tls=true"
      - "traefik.http.routers.jackett.tls.domains[0].main={{ domain }}"
      - "traefik.http.routers.jackett.tls.domains[0].sans=*.{{ domain }}"
      - "traefik.http.routers.jackett.tls.certresolver=cloudflare-dns"
{% if enable_tor %}
      - "traefik.tor.frontend.rule=Host:jackett.{{ tor_domain }}"
      - "traefik.tor.protocol=http"
      - "traefik.tor.port=9117"
{% endif %}