---
version: '3'

networks:
  traefik_network:
    external:
      name: homelabos_traefik

services:
  app:
    image: zhonglu/poli:{{ poli.version }}
    restart: unless-stopped
    networks:
      - traefik_network
{% include './labels.j2' %}
