---
version: '3'

# This networks section required for the pacakge to be visible to Traefik. 
# DO NOT Remove
networks:
  traefik_network:
    external:
      name: homelabos_traefik

services:
  app:
    # REQUIRED
    image: zhonglu/poli:0.10.1
    restart: unless-stopped
    networks:
      - traefik_network
    labels:
      - "traefik.enable=true"
      - "traefik.docker.network=homelabos_traefik"
      - "traefik.http.frontend.rule=Host:poli.{{ domain }}"
      - "traefik.http.protocol=http"
      - "traefik.http.port=6688"
      - "traefik.http.frontend.headers.customFrameOptionsValue=ALLOW-FROM http://{{ domain }}"
      - "traefik.http.frontend.headers.customFrameOptionsValue=ALLOW-FROM https://{{ domain }}"
{% if enable_tor %}
      - "traefik.tor.frontend.rule=Host:poli.{{ tor_domain }}"
      - "traefik.tor.protocol=http"
      - "traefik.tor.port=6688"
{% endif %}
