---
version: '3'

networks:
  traefik_network:
    external:
      name: homelabos_traefik

services:
  nextcloud:
    image: hoellen/nextcloud:16.0
    networks:
      - traefik_network
    depends_on:
      - nextcloud-db
    environment:
      - UID={{ uid }}
      - GID={{ gid }}
      - UPLOAD_MAX_SIZE=10G
      - APC_SHM_SIZE=128M
      - OPCACHE_MEM_SIZE=128
      - CRON_PERIOD=15m
      - TZ=America/NewYork
      - DOMAIN=localhost
      - DB_TYPE=mysql
      - DB_NAME=nextcloud
      - DB_USER=nextcloud
      - DB_PASSWORD="{{lookup('password', './settings/passwords/nextcloud_db_password chars=digits')}}"
      - DB_HOST=nextcloud-db
    volumes:
      - /var/homelabos/nextcloud/config:/config
      - {{ storage_dir }}/Documents/NextCloud:/data
      - /var/homelabos/nextcloud/apps:/apps2
      - /var/homelabos/nextcloud/themes:/nextcloud/themes
    labels:
      - "traefik.enable=true"
      - "traefik.docker.network=homelabos_traefik"
      - "traefik.http.services.nextcloud.loadbalancer.server.scheme=http"
      - "traefik.http.services.nextcloud.loadbalancer.server.port=8888"
      - "traefik.http.routers.nextcloud-http.rule=Host(`nextcloud.{{ domain }}`)"
      - "traefik.http.routers.nextcloud-http.entrypoints=http"
      - "traefik.http.routers.nextcloud-http.middlewares=auth@file, redirect@file, customFrameHomelab@file"
      - "traefik.http.routers.nextcloud.rule=Host(`nextcloud.{{ domain }}`)"
      - "traefik.http.routers.nextcloud.entrypoints=https"
      - "traefik.http.routers.nextcloud.middlewares=auth@file, customFrameHomelab@file"
      - "traefik.http.routers.nextcloud.tls=true"
      - "traefik.http.routers.nextcloud.tls.domains[0].main={{ domain }}"
      - "traefik.http.routers.nextcloud.tls.domains[0].sans=*.{{ domain }}"
      - "traefik.http.routers.nextcloud.tls.certresolver=cloudflare-dns"
{% if enable_tor %}
      - "traefik.tor.frontend.rule=Host:nextcloud.{{ tor_domain }}"
      - "traefik.tor.protocol=http"
      - "traefik.tor.port=8888"
{% endif %}

  # If using MySQL
  nextcloud-db:
    image: mariadb:10.4
    networks:
      - traefik_network
    volumes:
      - /var/homelabos/nextcloud_db:/var/lib/mysql
    restart: unless-stopped
    environment:
      - MYSQL_ROOT_PASSWORD="{{lookup('password', './settings/passwords/nextcloud_db_root_password chars=digits')}}"
      - MYSQL_DATABASE=nextcloud
      - MYSQL_USER=nextcloud
      - MYSQL_PASSWORD="{{lookup('password', './settings/passwords/nextcloud_db_password chars=digits')}}"

