---
version: '3'

networks:
  traefik_network:
    external:
      name: homelabos_traefik

services:
  nextcloud-db:
    image: postgres:alpine
    restart: unless-stopped
    volumes:
      - "{{ volumes_root }}/nextcloud/postgres:/var/lib/postgresql/data"
    networks:
      - traefik_network
    restart: unless-stopped
    environment:
      - POSTGRES_PASSWORD={{lookup('password', './settings/passwords/nextcloud_db_password chars=ascii_letters')}}
      - POSTGRES_DB=nextcloud
      - POSTGRES_USER=nextcloud

  nextcloud-redis:
    image: redis:5.0-alpine
    networks:
      - traefik_network
    restart: unless-stopped

  nextcloud:
    image: nextcloud:apache
    restart: unless-stopped
    networks:
      - traefik_network
    user: {{ uid }}:{{ gid }}
    sysctls:
      - net.ipv4.ip_unprivileged_port_start=0
      # The line above allows an unprivileged user (the uid/gid of the homelab user) to
      # listen on any port (https://github.com/nextcloud/docker/issues/359)
      # Used / needed for apache to l
    volumes:
      - "{{ volumes_root }}/nextcloud/webroot:/var/www/html"
      - "{{ volumes_root }}/nextcloud/config:/var/www/html/config"
      - "{{ storage_dir }}/Documents/NextCloud:/data"
      - "{{ volumes_root }}/nextcloud/apps:/var/www/html/custom_apps"
      - "{{ volumes_root }}/nextcloud/themes:/var/www/html/themes"
      - "{{ storage_dir }}:/mnt/homelabos"
    environment:
      - POSTGRES_HOST=nextcloud-db
      - POSTGRES_PASSWORD={{lookup('password', './settings/passwords/nextcloud_db_password chars=ascii_letters')}}
      - POSTGRES_DB=nextcloud
      - POSTGRES_USER=nextcloud
      - UPLOAD_MAX_SIZE=10G
      - APC_SHM_SIZE=128M
      - OPCACHE_MEM_SIZE=128
      - CRON_PERIOD=15m
      - TZ={{ common_timezone }}
      - REDIS_HOST=nextcloud-redis
      - NEXTCLOUD_ADMIN_USER={{ default_username }}
      - NEXTCLOUD_ADMIN_PASSWORD={{ default_password }}
      - NEXTCLOUD_TRUSTED_DOMAINS={{ service_domain }}
      - NEXTCLOUD_UPDATE=1 # triggers the automated install on first run.
      # SMTP settings
      - SMTP_HOST={{vault.smtp.host}}
      - SMTP_SECURE={% if vault.smtp.port == 587 %}ssl{% endif %}

      - SMTP_PORT={{vault.smtp.port}}
      - SMTP_PASSWORD={{vault.smtp.pass}}
      - MAIL_FROM_ADDRESS={{vault.smtp.from_email}}
      - OVERWRITEHOST={{ service_domain }}
      - OVERWRITEPROTOCOL=https
    depends_on:
      - nextcloud-db
      - nextcloud-redis
    labels:
      - "traefik.enable=true"
      - "traefik.docker.network=homelabos_traefik"
      - "traefik.http.services.nextcloud.loadbalancer.server.scheme=http"
      - "traefik.http.services.nextcloud.loadbalancer.server.port=80"
      - "traefik.http.routers.nextcloud-http.rule=Host(`{{ service_domain }}`)"
      - "traefik.http.routers.nextcloud-http.entrypoints=http"
      - "traefik.http.routers.nextcloud-http.middlewares={% if nextcloud.https_only %}redirect@file, security-headers@file, {% else %}{% if nextcloud.auth %}{% if authelia.enable %}authelia@file{% else %}basicAuth@file{% endif %}, {% endif %}{% endif %}customFrameHomelab@file"
      - "traefik.http.routers.nextcloud.rule=Host(`{{ service_domain }}`)"
      - "traefik.http.routers.nextcloud.entrypoints=https"
      - "traefik.http.routers.nextcloud.middlewares={% if nextcloud.auth %}{% if authelia.enable %}authelia@file{% else %}basicAuth@file{% endif %}, {% endif %}customFrameHomelab@file"
      - "traefik.http.routers.nextcloud.tls=true"
{% if traefik.dns_challenge_provider %}
      - "traefik.http.routers.nextcloud.tls.certresolver=dns"
      - "traefik.http.routers.nextcloud.tls.domains[0].main={{ domain }}"
      - "traefik.http.routers.nextcloud.tls.domains[0].sans=*.{{ domain }}"
{% else %}
      - "traefik.http.routers.nextcloud.tls.certresolver=http"
{% endif %}
{% if enable_tor %}
      - "traefik.http.routers.nextcloud-tor-http.rule=Host(`{{ lookup('vars', service_item).subdomain }}.{{ tor_domain }}`)"
      - "traefik.http.routers.nextcloud-tor-http.entrypoints=http"
      - "traefik.http.routers.nextcloud-tor-http.middlewares={% if nextcloud.auth %}{% if authelia.enable %}authelia-tor@file{% else %}basicAuth@file{% endif %}, {% endif %}customFrameHomelab-tor@file"
{% endif %}
