---
version: '3'

networks:
  traefik_network:
    external:
      name: homelabos_traefik

services: 
  piwigo:
    restart: unless-stopped
    domainname: localhost
    depends_on:
      - mysqlpiwigo
    networks:
      - traefik_network
    ports:
      - 8088:80
    image: mathieuruellan/piwigo
    volumes:
        - /var/homelabos/piwigo/config:/config
        - /var/homelabos/piwigo/data/galleries:/var/www/galleries
        - /var/homelabos/piwigo/data/local:/var/www/local
        - /var/homelabos/piwigo/data/plugins:/var/www/plugins
        - /var/homelabos/piwigo/data/themes:/var/www/themes
        - /var/homelabos/piwigo/cache:/var/www/_data/i
        - /var/homelabos/piwigo/upload:/var/www/upload
        - /var/homelabos/piwigo/logs:/var/log/apache2
    labels:
      - "traefik.enable=true"
      - "traefik.docker.network=homelabos_traefik"
      - "traefik.http.services.piwigo.loadbalancer.server.scheme=http"
      - "traefik.http.services.piwigo.loadbalancer.server.port=80"
      - "traefik.http.routers.piwigo-http.rule=Host(`piwigo.{{ domain }}`)"
      - "traefik.http.routers.piwigo-http.entrypoints=http"
      - "traefik.http.routers.piwigo-http.middlewares=auth@file, redirect@file, customFrameHomelab@file"
      - "traefik.http.routers.piwigo.rule=Host(`piwigo.{{ domain }}`)"
      - "traefik.http.routers.piwigo.entrypoints=https"
      - "traefik.http.routers.piwigo.middlewares=auth@file, customFrameHomelab@file"
      - "traefik.http.routers.piwigo.tls=true"
      - "traefik.http.routers.piwigo.tls.domains[0].main={{ domain }}"
      - "traefik.http.routers.piwigo.tls.domains[0].sans=*.{{ domain }}"
      - "traefik.http.routers.piwigo.tls.certresolver=cloudflare-dns"
{% if enable_tor %}
      - "traefik.tor.frontend.rule=Host:piwigo.{{ tor_domain }}"
      - "traefik.tor.protocol=http"
      - "traefik.tor.port=80"
{% endif %}

  mysqlpiwigo:
    restart: unless-stopped
    image: mariadb:10.4
    networks:
      - traefik_network
    volumes:
      - /var/homelabos/piwigo/mysql/:/var/lib/mysql
    environment:
      - MYSQL_ROOT_PASSWORD="{{lookup('password', './settings/passwords/piwigo_root_db_password chars=digits')}}"
      - MYSQL_DATABASE=piwigo
      - MYSQL_USER=piwigo
      - MYSQL_PASSWORD="{{lookup('password', './settings/passwords/piwigo_db_password chars=digits')}}"