---
version: '3'

networks:
  traefik_network:
    external:
      name: homelabos_traefik

services:
  airsonic_web:
    image: linuxserver/airsonic
    restart: unless-stopped
    environment:
      - PUID={{ uid_output.stdout }}
      - PGID={{ gid_output.stdout }}
      - TZ={{ common_timezone }}
      - JAVA_OPTS=-Dserver.use-forward-headers=true
    networks:
      - traefik_network
    volumes:
      - /var/homelabos/airsonic/config:/config
      - {{ storage_dir }}/Music:/music
      - /var/homelabos/airsonic/playlists:/playlists
      - /var/homelabos/airsonic/podcasts:/podcasts
    labels:
      - "traefik.enable=true"
      - "traefik.docker.network=homelabos_traefik"
      - "traefik.http.services.airsonic.loadbalancer.server.scheme=http"
      - "traefik.http.services.airsonic.loadbalancer.server.port=4040"
      - "traefik.http.routers.airsonic-http.rule=Host(`airsonic.{{ domain }}`)"
      - "traefik.http.routers.airsonic-http.entrypoints=http"
      - "traefik.http.routers.airsonic-http.middlewares=auth@file, redirect@file, customFrameHomelab@file"
      - "traefik.http.routers.airsonic.rule=Host(`airsonic.{{ domain }}`)"
      - "traefik.http.routers.airsonic.entrypoints=https"
      - "traefik.http.routers.airsonic.middlewares=auth@file, customFrameHomelab@file"
      - "traefik.http.routers.airsonic.tls=true"
      - "traefik.http.routers.airsonic.tls.domains[0].main={{ domain }}"
      - "traefik.http.routers.airsonic.tls.domains[0].sans=*.{{ domain }}"
      - "traefik.http.routers.airsonic.tls.certresolver=cloudflare-dns"
{% if enable_tor %}
      - "traefik.tor.frontend.rule=Host:airsonic.{{ tor_domain }}"
      - "traefik.tor.protocol=http"
      - "traefik.tor.port=4040"
{% endif %}
