{% if erpnext.https_only %}
{%      set protocol = 'https' %}
{% else %}
{%      set protocol = 'http' %}
{% endif %}

{% if erpnext.domain %}
{%      set url = erpnext.domain %}
{% else %}
{%      set url = erpnext.subdomain + "." + domain %}
{% endif %}

---
version: '3'

networks:
  traefik_network:
    external:
      name: homelabos_traefik
  erpnext:

services:
  mariadb:
    image: mariadb:{{ erpnext.mariadb_version }}
    restart: unless-stopped
    networks:
      - erpnext
    command:
      - --character-set-server=utf8mb4
      - --collation-server=utf8mb4_unicode_ci
      - --skip-character-set-client-handshake
    environment:
      MYSQL_ROOT_PASSWORD: "{% if erpnext.db_root_password %}{{ erpnext.db_root_password }}{% else %}{{ lookup('password', './settings/passwords/erpnext_db_root_password chars=ascii_letters') }}{% endif %}"
    volumes:
      - "{{ volumes_root }}/erpnext/mariadb:/var/lib/mysql"

  redis-cache:
    image: redis:{{ erpnext.redis_version }}
    restart: unless-stopped
    networks:
      - erpnext
    volumes:
      - "{{ volumes_root }}/erpnext/redis-cache:/data"

  redis-queue:
    image: redis:{{ erpnext.redis_version }}
    restart: unless-stopped
    networks:
      - erpnext
    volumes:
      - "{{ volumes_root }}/erpnext/redis-queue:/data"

  configurator:
    image: frappe/erpnext:{{ erpnext.version }}
    platform: linux/amd64
    restart: on-failure
    networks:
      - erpnext
    entrypoint:
      - bash
      - -c
    command:
      - >
        ls -1 apps > sites/apps.txt;
        bench set-config -g db_host $$DB_HOST;
        bench set-config -gp db_port $$DB_PORT;
        bench set-config -g redis_cache "redis://$$REDIS_CACHE";
        bench set-config -g redis_queue "redis://$$REDIS_QUEUE";
        bench set-config -g redis_socketio "redis://$$REDIS_QUEUE";
        bench set-config -gp socketio_port $$SOCKETIO_PORT;
        bench set-config -g chromium_path /usr/bin/chromium-headless-shell;
    environment:
      DB_HOST: mariadb
      DB_PORT: "3306"
      REDIS_CACHE: redis-cache:6379
      REDIS_QUEUE: redis-queue:6379
      SOCKETIO_PORT: 9000
    volumes:
      - sites:/home/frappe/frappe-bench/sites
    depends_on:
      - mariadb
      - redis-cache
      - redis-queue

  create-site:
    image: frappe/erpnext:{{ erpnext.version }}
    platform: linux/amd64
    restart: "no"
    networks:
      - erpnext
    entrypoint:
      - bash
      - -c
    command:
      - >
        wait-for-it -t 120 mariadb:3306;
        wait-for-it -t 120 redis-cache:6379;
        wait-for-it -t 120 redis-queue:6379;
        ls -1 apps > sites/apps.txt;
        export start=`date +%s`;
        until [[ -n `grep -hs ^ sites/common_site_config.json | jq -r ".db_host // empty"` ]] && \
          [[ -n `grep -hs ^ sites/common_site_config.json | jq -r ".redis_cache // empty"` ]] && \
          [[ -n `grep -hs ^ sites/common_site_config.json | jq -r ".redis_queue // empty"` ]];
        do
          echo "Waiting for sites/common_site_config.json to be created";
          sleep 5;
          if (( `date +%s`-start > 120 )); then
            echo "could not find sites/common_site_config.json with required keys";
            exit 1
          fi
        done;
        echo "sites/common_site_config.json found";
        bench new-site --mariadb-user-host-login-scope='%' --admin-password={{ erpnext.admin_password }} --db-root-username=root --db-root-password='{% if erpnext.db_root_password %}{{ erpnext.db_root_password }}{% else %}{{ lookup('password', './settings/passwords/erpnext_db_root_password chars=ascii_letters') }}{% endif %}' --install-app erpnext --set-default frontend;
    environment:
      DB_HOST: mariadb
      DB_PORT: "3306"
      REDIS_CACHE: redis-cache:6379
      REDIS_QUEUE: redis-queue:6379
      SOCKETIO_PORT: 9000
    volumes:
      - sites:/home/frappe/frappe-bench/sites
    depends_on:
      configurator:
        condition: service_completed_successfully

  backend:
    image: frappe/erpnext:{{ erpnext.version }}
    platform: linux/amd64
    restart: unless-stopped
    networks:
      - erpnext
    environment:
      DB_HOST: mariadb
      DB_PORT: "3306"
      REDIS_CACHE: redis-cache:6379
      REDIS_QUEUE: redis-queue:6379
      SOCKETIO_PORT: 9000
      GUNICORN_THREADS: 4
      GUNICORN_WORKERS: 2
      GUNICORN_TIMEOUT: 120
    volumes:
      - sites:/home/frappe/frappe-bench/sites
    depends_on:
      configurator:
        condition: service_completed_successfully

  frontend:
    image: frappe/erpnext:{{ erpnext.version }}
    platform: linux/amd64
    restart: unless-stopped
    networks:
      - traefik_network
      - erpnext
    command:
      - nginx-entrypoint.sh
    environment:
      BACKEND: backend:8000
      SOCKETIO: websocket:9000
      FRAPPE_SITE_NAME_HEADER: $$host
      UPSTREAM_REAL_IP_ADDRESS: 127.0.0.1
      UPSTREAM_REAL_IP_HEADER: X-Forwarded-For
      UPSTREAM_REAL_IP_RECURSIVE: "off"
      PROXY_READ_TIMEOUT: 120
      CLIENT_MAX_BODY_SIZE: 50m
    volumes:
      - sites:/home/frappe/frappe-bench/sites
    depends_on:
      - backend
      - websocket
{% include './labels.j2' %}

  websocket:
    image: frappe/erpnext:{{ erpnext.version }}
    platform: linux/amd64
    restart: unless-stopped
    networks:
      - erpnext
    command:
      - node
      - /home/frappe/frappe-bench/apps/frappe/socketio.js
    volumes:
      - sites:/home/frappe/frappe-bench/sites
    depends_on:
      configurator:
        condition: service_completed_successfully

  queue-short:
    image: frappe/erpnext:{{ erpnext.version }}
    platform: linux/amd64
    restart: unless-stopped
    networks:
      - erpnext
    command: bench worker --queue short,default
    volumes:
      - sites:/home/frappe/frappe-bench/sites
    depends_on:
      configurator:
        condition: service_completed_successfully

  queue-long:
    image: frappe/erpnext:{{ erpnext.version }}
    platform: linux/amd64
    restart: unless-stopped
    networks:
      - erpnext
    command: bench worker --queue long,default,short
    volumes:
      - sites:/home/frappe/frappe-bench/sites
    depends_on:
      configurator:
        condition: service_completed_successfully

  scheduler:
    image: frappe/erpnext:{{ erpnext.version }}
    platform: linux/amd64
    restart: unless-stopped
    networks:
      - erpnext
    command: bench schedule
    volumes:
      - sites:/home/frappe/frappe-bench/sites
    depends_on:
      configurator:
        condition: service_completed_successfully

volumes:
  sites:
