---
version: '3'

networks:
  traefik_network:
    external:
      name: homelabos_traefik

services:
 # Web Analytics
  app:
    image: matomo
    restart: unless-stopped
    networks:
      - traefik_network
    volumes:
      - /var/homelabos/matomo/data:/data
    labels:
      - "traefik.enable=true"
      - "traefik.docker.network=homelabos_traefik"
      - "traefik.http.services.matomo.loadbalancer.server.scheme=http"
      - "traefik.http.services.matomo.loadbalancer.server.port=80"
      - "traefik.http.routers.matomo-http.rule=Host(`matomo.{{ domain }}`)"
      - "traefik.http.routers.matomo-http.entrypoints=http"
      - "traefik.http.routers.matomo-http.middlewares=auth@file, redirect@file, customFrameHomelab@file"
      - "traefik.http.routers.matomo.rule=Host(`matomo.{{ domain }}`)"
      - "traefik.http.routers.matomo.entrypoints=https"
      - "traefik.http.routers.matomo.middlewares=auth@file, customFrameHomelab@file"
      - "traefik.http.routers.matomo.tls=true"
      - "traefik.http.routers.matomo.tls.domains[0].main={{ domain }}"
      - "traefik.http.routers.matomo.tls.domains[0].sans=*.{{ domain }}"
      - "traefik.http.routers.matomo.tls.certresolver=cloudflare-dns"
{% if enable_tor %}
      - "traefik.tor.frontend.rule=Host:matomo.{{ tor_domain }}"
      - "traefik.tor.protocol=http"
      - "traefik.tor.port=80"
{% endif %}

  matomo_db:
    image: mariadb
    restart: unless-stopped
    networks:
      - traefik_network
    volumes:
      - /var/homelabos/matomo/db:/var/lib/mysql
    environment:
      - MYSQL_ROOT_PASSWORD=matomo
      - MYSQL_USER=matomo
      - MYSQL_PASSWORD={{lookup('password', './settings/passwords/matomo_db_password chars=digits')}}
      - MYSQL_DATABASE=matomo
