---
version: '3'

networks:
  traefik_network:
    external:
      name: homelabos_traefik
  listmonk:

services:
  db:
    image: postgres:17-alpine
    container_name: listmonk_db
    restart: unless-stopped
    networks:
      - listmonk
    environment:
      POSTGRES_USER: listmonk
      POSTGRES_PASSWORD: "{{ lookup('password', './settings/passwords/listmonk_db_password chars=ascii_letters') }}"
      POSTGRES_DB: listmonk
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U listmonk"]
      interval: 10s
      timeout: 5s
      retries: 6
    volumes:
      - "{{ volumes_root }}/listmonk/db:/var/lib/postgresql/data"

  app:
    image: listmonk/listmonk:{{ listmonk.version }}
    container_name: listmonk_app
    restart: unless-stopped
    networks:
      - traefik_network
      - listmonk
    depends_on:
      - db
    command: [sh, -c, "./listmonk --install --idempotent --yes --config '' && ./listmonk --upgrade --yes --config '' && ./listmonk --config ''"]
    environment:
      LISTMONK_app__address: 0.0.0.0:9000
      LISTMONK_db__host: db
      LISTMONK_db__port: 5432
      LISTMONK_db__user: listmonk
      LISTMONK_db__password: "{{ lookup('password', './settings/passwords/listmonk_db_password chars=ascii_letters') }}"
      LISTMONK_db__database: listmonk
      LISTMONK_db__ssl_mode: disable
      LISTMONK_db__max_open: 25
      LISTMONK_db__max_idle: 25
      LISTMONK_db__max_lifetime: 300s
      TZ: "{{ common_timezone }}"
    volumes:
      - "{{ volumes_root }}/listmonk/uploads:/listmonk/uploads"
{% include './labels.j2' %}
