---
version: '3'

networks:
  traefik_network:
    external:
      name: homelabos_traefik

services:
  # Media Server
  jellyfin:
    image: jellyfin/jellyfin:{{ jellyfin.version }}
    restart: unless-stopped
    networks:
      - traefik_network
    ports:
      - 8096:8096
    volumes:
      - "{{ volumes_root }}/jellyfin/config:/config"
      - "{{ storage_dir }}:/media"
      - "{{ storage_dir }}/temp:/cache"
      - "{{ storage_dir }}/Video/Tubearchivist/media:/youtube:ro"
{% include './labels.j2' %}
