---
version: '3'

networks:
  traefik_network:
    external:
      name: homelabos_traefik

services:
  # Media Server
  jellyfin:
    image: jellyfin/jellyfin
    restart: unless-stopped
    networks:
      - traefik_network
    volumes:
      - /var/homelabos/jellyfin/config:/config
      - {{ storage_dir }}/Music:/media/Music
      - {{ storage_dir }}/Movies:/media/Movies
      - {{ storage_dir }}/TV:/media/TV
      - {{ storage_dir }}/temp:/cache
    labels:
      - "traefik.enable=true"
      - "traefik.docker.network=homelabos_traefik"
      - "traefik.http.services.jellyfin.loadbalancer.server.scheme=http"
      - "traefik.http.services.jellyfin.loadbalancer.server.port=8096"
      - "traefik.http.routers.jellyfin-http.rule=Host(`jellyfin.{{ domain }}`)"
      - "traefik.http.routers.jellyfin-http.entrypoints=http"
      - "traefik.http.routers.jellyfin-http.middlewares=auth@file, redirect@file, customFrameHomelab@file"
      - "traefik.http.routers.jellyfin.rule=Host(`jellyfin.{{ domain }}`)"
      - "traefik.http.routers.jellyfin.entrypoints=https"
      - "traefik.http.routers.jellyfin.middlewares=auth@file, customFrameHomelab@file"
      - "traefik.http.routers.jellyfin.tls=true"
      - "traefik.http.routers.jellyfin.tls.domains[0].main={{ domain }}"
      - "traefik.http.routers.jellyfin.tls.domains[0].sans=*.{{ domain }}"
      - "traefik.http.routers.jellyfin.tls.certresolver=cloudflare-dns"
{% if enable_tor %}
      - "traefik.tor.frontend.rule=Host:jellyfin.{{ tor_domain }}"
      - "traefik.tor.protocol=http"
      - "traefik.tor.port=8096"
{% endif %}
