---
version: '3'

networks:
  traefik_network:
    external:
      name: homelabos_traefik

services:
  lidarr:
    image: hotio/lidarr
    networks:
      - traefik_network
    volumes:
      - /var/homelabos/lidarr/config:/config
    environment:
      - TZ={{ common_timezone }}
      - PUID={{ uid }}
      - PGID={{ gid }}
      - UMASK=022
      - VERSION=stable
      - BACKUP=yes
    labels:
      - "traefik.enable=true"
      - "traefik.docker.network=homelabos_traefik"
      - "traefik.http.services.lidarr.loadbalancer.server.scheme=http"
      - "traefik.http.services.lidarr.loadbalancer.server.port=8686"
      - "traefik.http.routers.lidarr-http.rule=Host(`lidarr.{{ domain }}`)"
      - "traefik.http.routers.lidarr-http.entrypoints=http"
      - "traefik.http.routers.lidarr-http.middlewares=auth@file, redirect@file, customFrameHomelab@file"
      - "traefik.http.routers.lidarr.rule=Host(`lidarr.{{ domain }}`)"
      - "traefik.http.routers.lidarr.entrypoints=https"
      - "traefik.http.routers.lidarr.middlewares=auth@file, customFrameHomelab@file"
      - "traefik.http.routers.lidarr.tls=true"
      - "traefik.http.routers.lidarr.tls.domains[0].main={{ domain }}"
      - "traefik.http.routers.lidarr.tls.domains[0].sans=*.{{ domain }}"
      - "traefik.http.routers.lidarr.tls.certresolver=cloudflare-dns"
{% if enable_tor %}
      - "traefik.tor.frontend.rule=Host:lidarr.{{ tor_domain }}"
      - "traefik.tor.protocol=http"
      - "traefik.tor.port=8686"
{% endif %}