---
version: '3'

networks:
  traefik_network:
    external:
      name: homelabos_traefik

services:
  elk:
    image: sebp/elk:{{ elkstack.version }}
    restart: unless-stopped
    networks:
      - traefik_network
{% include './labels.j2' %}
