---
version: '3'

networks:
  traefik_network:
    external:
      name: homelabos_traefik

services:
  app:
    image: diygod/rsshub:{{ rsshub.version }}
    restart: unless-stopped
    networks:
      - traefik_network
    environment:
      # OPTIONAL: http basic auth
      # - HTTP_BASIC_AUTH_NAME={{ default_username }}
      # - HTTP_BASIC_AUTH_PASS={{ default_password }}
{% include './labels.j2' %}
