---
version: '3.7'

# This networks section required for the package to be visible to Traefik.
# DO NOT Remove
networks:
  traefik_network:
    external:
      name: homelabos_traefik
  invoiceninja:

services:
  www:
    image: nginx
    networks:
      - traefik_network
      - invoiceninja
    environment:
      - APP_URL=https://{{service_domain}}
    volumes:
      - "{{ volumes_root }}/invoiceninja/config/nginx/nginx.conf:/etc/nginx/nginx.conf"
      - "{{ volumes_root }}/invoiceninja/public:/var/www/app/public"
      - "{{ volumes_root }}/invoiceninja/"
      - "{{ volumes_root }}/invoiceninja/storage:/var/www/app/storage"
    depends_on:
      - invoiceapp
    restart: unless-stopped
{% include './labels.j2' %}

  indb:
    image: mysql:5
    restart: unless-stopped
    networks:
      - invoiceninja
    environment:
      - MYSQL_ROOT_PASSWORD={{lookup('password', './settings/passwords/invoiceNinja_mysql_root_pw')}}
      - MYSQL_USER=ninja
      - MYSQL_PASSWORD={{lookup('password', './settings/passwords/invoiceNinja_mysql_pw')}}
      - MYSQL_DATABASE=db-ninja-01
    volumes:
      - "{{ volumes_root }}/invoiceninja/mysql-data:/var/lib/mysql:rw"

  invoiceapp:
    # REQUIRED
    image: invoiceninja/invoiceninja:{{invoiceninja.version}}
    restart: unless-stopped
    depends_on:
      - indb
    networks:
      - invoiceninja
    environment:
      # Application environment
      - APP_URL=https://{{ service_domain }}
      - APP_KEY={{application_key.stdout}}
      - APP_DEBUG=false
      - APP_CIPHER=AES-256-CBC
      - TRUSTED_PROXIES="172.0.0.0/8"
      - REQUIRE_HTTPS=true
      - SESSION_ENCRYPT=true
      - SESSION_SECURE=true
      - GOOGLE_MAPS_API_KEY=**
      # DB environment
      - MULTI_DB_ENABLED=false
      - DB_HOST=indb
      - DB_DATABASE=db-ninja-01
      - DB_USERNAME=ninja
      - DB_PASSWORD={{lookup('password', './settings/passwords/invoiceNinja_mysql_pw')}}
      # Mail Environment
      - MAIL_HOST={{ smtp.host }}
      - MAIL_USERNAME={{ smtp.user }}
      - MAIL_PASSWORD={{ smtp.pass }}
      - MAIL_DRIVER=smtp
      - MAIL_FROM_NAME={{ smtp.from_email }}
      - MAIL_FROM_ADDRESS=user@domain.com
    volumes:
      - "{{ volumes_root }}/invoiceninja/public:/var/www/app/public"
      - "{{ volumes_root }}/invoiceninja/logo:/var/www/app/public/logo"
      - "{{ volumes_root }}/invoiceninja/storage:/var/www/app/storage"

  cron:
    image: invoiceninja/invoiceninja:{{invoiceninja.version}}
    restart: unless-stopped
    networks:
      - traefik_network
    entrypoint: |
      sh -c 'sh -s <<EOF
      trap "break;exit" SIGHUP SIGINT SIGTERM
      sleep 300s
      while /bin/true; do
        ./artisan ninja:send-invoices
        ./artisan ninja:send-reminders
        sleep 1d
      done
      EOF'
