---
version: '3'

networks:
  traefik_network:
    external:
      name: homelabos_traefik

services:
  {{ service_item }}:
    image: httpd:{{ lookup('vars', service_item)['version'] | default(lookup('vars', lookup('vars', service_item)['source_service'] | default(service_item))['version']) }}
    restart: unless-stopped
    networks:
      - traefik_network
    volumes:
      - "{{ volumes_root }}/{{ service_item }}/root/:/usr/local/apache2/htdocs/"
      - "{{ volumes_root }}/{{ service_item }}/httpd.conf:/usr/local/apache2/conf/httpd.conf"
{% include './labels.j2' %}
