---
version: '3'

networks:
  traefik_network:
    external:
      name: homelabos_traefik

services:
  hlos_dash_web:
    image: homelabos/hlos-dash-web:{{ hlos_dash.version }}
    restart: unless-stopped
    networks:
      - traefik_network
{% include './labels.j2' %}

  hlos_dash_server:
    image: homelabos/hlos-dash-server:{{ hlos_dash.version }}
    restart: unless-stopped
    environment:
      - HLOS_DASH_HOST=0.0.0.0
      - HLOS_DASH_PORT=8081
      - HLOS_DASH_API_TOKEN={{ lookup('password', './settings/passwords/hlos_dash_api_token chars=hexdigits length=32') }}
      - HOMELABOS_INSTALL_DIR=/data
      - HLOS_DASH_SOURCE_DIR=/data/roles/hlos_dash
      - HLOS_DASH_DB_PATH=/data/settings/hlos-dash.db
    volumes:
      - "{{ hlos_dash.install_dir | default(volumes_root ~ '/install') }}:/data"
      - "/var/run/docker.sock:/var/run/docker.sock"
      - "{{ lookup('env', 'HOME') }}/.ssh/id_rsa:/root/.ssh/id_rsa:ro"
      - "{{ lookup('env', 'HOME') }}/.ssh/id_rsa.pub:/root/.ssh/id_rsa.pub:ro"
      - "{{ lookup('env', 'HOME') }}/.homelabos_vault_pass:/ansible_vault_pass:ro"
    networks:
      - traefik_network
