---
version: '3'

networks:
  traefik_network:
    external:
      name: homelabos_traefik

services:
  # Sync Server
  syncthing:
    image: linuxserver/syncthing
    networks:
      - traefik_network
    restart: unless-stopped
    volumes:
      - /var/homelabos/syncthing:/config
      - {{ storage_dir }}/Documents/Syncthing:/data
    environment:
      - PGID=1004
      - PUID=1000
    ports:
      - 22000:22000
      - 21027:21027/udp
    labels:
      - "traefik.enable=true"
      - "traefik.docker.network=homelabos_traefik"
      - "traefik.http.services.sync.loadbalancer.server.scheme=http"
      - "traefik.http.services.sync.loadbalancer.server.port=8384"
      - "traefik.http.routers.sync-http.rule=Host(`sync.{{ domain }}`)"
      - "traefik.http.routers.sync-http.entrypoints=http"
      - "traefik.http.routers.sync-http.middlewares=auth@file, redirect@file, customFrameHomelab@file"
      - "traefik.http.routers.sync.rule=Host(`sync.{{ domain }}`)"
      - "traefik.http.routers.sync.entrypoints=https"
      - "traefik.http.routers.sync.middlewares=auth@file, customFrameHomelab@file"
      - "traefik.http.routers.sync.tls=true"
      - "traefik.http.routers.sync.tls.domains[0].main={{ domain }}"
      - "traefik.http.routers.sync.tls.domains[0].sans=*.{{ domain }}"
      - "traefik.http.routers.sync.tls.certresolver=cloudflare-dns"
{% if enable_tor %}
      - "traefik.tor.frontend.rule=Host:sync.{{ tor_domain }}"
      - "traefik.tor.protocol=http"
      - "traefik.tor.port=8384"
{% endif %}
