---
version: '3'

# This networks section required for the package to be visible to Traefik.
# DO NOT Remove
networks:
  traefik_network:
    external:
      name: homelabos_traefik

services:
  actual_server:
    image: "actualbudget/actual-server:{{ actual.version }}"
    restart: unless-stopped
    networks:
      - traefik_network
    volumes:
      - "{{ volumes_root }}/actual/data:/data"
    healthcheck:
      test: ['CMD-SHELL', 'node src/scripts/health-check.js']
      interval: 60s
      timeout: 10s
      retries: 3
      start_period: 20s
{% include './labels.j2' %}
