---

version: '3'

networks:
  traefik_network:
    external:
      name: homelabos_traefik
  mybb:

services:
  mybb:
    image: mybb/mybb:{{ mybb.version }}
    networks:
      - mybb
    volumes:
    - "{{ volumes_root }}/mybb/app:/var/www/html:rw"

  nginx:
    image: nginx:mainline-alpine
    volumes:
    - "{{ volumes_root }}/mybb/nginx:/etc/nginx/conf.d:ro"
    - "{{ volumes_root }}/mybb/app:/var/www/html:ro"
    networks:
      - traefik_network
      - mybb
{% include './labels.j2' %}

  postgresql:
    environment:
      POSTGRES_DB: mybb
      POSTGRES_PASSWORD: {{lookup('password', './settings/passwords/mybb_db_password chars=ascii_letters')}}
      POSTGRES_USER: mybb
    image: postgres:13.2-alpine
    networks:
      - mybb
    volumes:
    - "{{ volumes_root }}/mybb/postgres/data:/var/lib/postgresql/data:rw"