---
version: '3'

networks:
  traefik_network:
    external:
      name: homelabos_traefik

services:
 # Media Server
  emby:
    image: emby/embyserver:latest
    restart: unless-stopped
    networks:
      - traefik_network
    volumes:
      - /var/homelabos/emby:/config
      - {{ storage_dir }}/Music:/mnt/media/Music
      - {{ storage_dir }}/Movies:/mnt/media/Movies
      - {{ storage_dir }}/TV:/mnt/media/TV
      - {{ storage_dir }}/temp/transcode:/config/transcoding-temp
    labels:
      - "traefik.enable=true"
      - "traefik.docker.network=homelabos_traefik"
      - "traefik.http.services.emby.loadbalancer.server.scheme=http"
      - "traefik.http.services.emby.loadbalancer.server.port=8096"
      - "traefik.http.routers.emby-http.rule=Host(`emby.{{ domain }}`)"
      - "traefik.http.routers.emby-http.entrypoints=http"
      - "traefik.http.routers.emby-http.middlewares=auth@file, redirect@file, customFrameHomelab@file"
      - "traefik.http.routers.emby.rule=Host(`emby.{{ domain }}`)"
      - "traefik.http.routers.emby.entrypoints=https"
      - "traefik.http.routers.emby.middlewares=auth@file, customFrameHomelab@file"
      - "traefik.http.routers.emby.tls=true"
      - "traefik.http.routers.emby.tls.domains[0].main={{ domain }}"
      - "traefik.http.routers.emby.tls.domains[0].sans=*.{{ domain }}"
      - "traefik.http.routers.emby.tls.certresolver=cloudflare-dns"
{% if enable_tor %}
      - "traefik.tor.frontend.rule=Host:emby.{{ tor_domain }}"
      - "traefik.tor.protocol=http"
      - "traefik.tor.port=8096"
{% endif %}
