---
version: '3'

# This networks section required for the package to be visible to Traefik.
# DO NOT Remove
networks:
  traefik_network:
    external:
      name: homelabos_traefik
  hubzilla:

services:
  nginx:
    # Nginx Web server
    image: nginx:1.17.10-alpine
    restart: unless-stopped
    networks:
      - traefik_network
      - hubzilla
    depends_on:
      - hubzilla
    volumes:
      - {{ volumes_root }}/hubzilla/data:/var/www/html
      - {{ volumes_root }}/hubzilla/conf/hubzilla-nginx.conf:/etc/nginx/nginx.conf:ro
    labels:
      - "traefik.enable=true"
      - "traefik.docker.network=homelabos_traefik"
      - "traefik.http.services.hubzilla.loadbalancer.server.scheme=http"
      - "traefik.http.services.hubzilla.loadbalancer.server.port=80"
      - "traefik.http.routers.hubzilla-http.rule=Host(`{{ service_domain }}`)"
      - "traefik.http.routers.hubzilla-http.entrypoints=http"
      - "traefik.http.routers.hubzilla-http.middlewares={% if hubzilla.https_only %}redirect@file, security-headers@file, {% else %}{% if hubzilla.auth %}{% if authelia.enable %}authelia@file{% else %}basicAuth@file{% endif %}, {% endif %}{% endif %}customFrameHomelab@file"
      - "traefik.http.routers.hubzilla.rule=Host(`{{ service_domain }}`)"
      - "traefik.http.routers.hubzilla.entrypoints=https"
      - "traefik.http.routers.hubzilla.middlewares={% if hubzilla.auth %}{% if authelia.enable %}authelia@file{% else %}basicAuth@file{% endif %}, {% endif %}customFrameHomelab@file"
      - "traefik.http.routers.hubzilla.tls=true"
{% if traefik.dns_challenge_provider %}
      - "traefik.http.routers.hubzilla.tls.certresolver=dns"
      - "traefik.http.routers.hubzilla.tls.domains[0].main={{ domain }}"
      - "traefik.http.routers.hubzilla.tls.domains[0].sans=*.{{ domain }}"
{% else %}
      - "traefik.http.routers.hubzilla.tls.certresolver=http"
{% endif %}
{% if enable_tor %}
      - "traefik.http.routers.hubzilla-tor-http.rule=Host(`{{ service_domain }}`)"
      - "traefik.http.routers.hubzilla-tor-http.entrypoints=http"
      - "traefik.http.routers.hubzilla-tor-http.middlewares={% if hubzilla.auth %}{% if authelia.enable %}authelia-tor@file{% else %}basicAuth@file{% endif %}, {% endif %}customFrameHomelab-tor@file"
{% endif %}


  hubzilla:
  # Hubzilla service
    image: voryzen/hubzilla:4.6
    restart: unless-stopped
    depends_on:
      - postgres
    environment:
      DB_HOST: postgres
      DB_PORT: 5432
      DB_TYPE: postgres
      DB_NAME: hubzilla
      DB_USER: hubzilla
      DB_PASSWORD: {{lookup('password', './settings/passwords/hubzilla-db_password')}}
      HUBZILLA_DOMAIN: {{ service_domain }}
      HUBZILLA_ADMIN: admin@{{ service_domain }}
      SMTP_HOST: {{ smtp.host }}
      SMTP_PORT: {{ smtp.port }}
      SMTP_USER: {{ smtp.user }}
      SMTP_PASS: {{ smtp.pass }}
      ADDON_LIST: "nsfw superblock diaspora pubcrawl"
      TIMEZONE: {{ common_timezone }}
    networks:
      - hubzilla
    volumes:
      - {{ volumes_root }}/hubzilla/data:/var/www/html


  postgres:
  # PostgreSQL
    image: postgres:12.2-alpine
    restart: unless-stopped
    environment:
      POSTGRES_PASSWORD: {{lookup('password', './settings/passwords/hubzilla-db_password')}}
      POSTGRES_USER: hubzilla
      POSTGRES_DB: hubzilla
    volumes:
      - {{ volumes_root }}/hubzilla/db:/var/lib/postgresql/data/
    networks:
    - hubzilla
