---
version: '3'

networks:
  traefik_network:
    external:
      name: homelabos_traefik

services:
  # Web based KVM manager
  app:
    image: odivlad/webvirtmgr
    restart: unless-stopped
    networks:
      - traefik_network
    volumes:
      - '/var/homelabos/webvirtmgr/data:/data/'
    environment:
      - WEBVIRTMGR_ADMIN_USERNAME=admin
      - WEBVIRTMGR_ADMIN_EMAIL=admin@local.domain
      - WEBVIRTMGR_ADMIN_PASSWORD="{{lookup('password', './settings/passwords/webvirtmgr_db_password chars=digits')}}"
    ports:
      - '8000:8000'
    labels:
      - "traefik.enable=true"
      - "traefik.docker.network=homelabos_traefik"
      - "traefik.http.services.webvirtmgr.loadbalancer.server.scheme=http"
      - "traefik.http.services.webvirtmgr.loadbalancer.server.port=8000"
      - "traefik.http.routers.webvirtmgr-http.rule=Host(`webvirtmgr.{{ domain }}`)"
      - "traefik.http.routers.webvirtmgr-http.entrypoints=http"
      - "traefik.http.routers.webvirtmgr-http.middlewares=auth@file, redirect@file, customFrameHomelab@file"
      - "traefik.http.routers.webvirtmgr.rule=Host(`webvirtmgr.{{ domain }}`)"
      - "traefik.http.routers.webvirtmgr.entrypoints=https"
      - "traefik.http.routers.webvirtmgr.middlewares=auth@file, customFrameHomelab@file"
      - "traefik.http.routers.webvirtmgr.tls=true"
      - "traefik.http.routers.webvirtmgr.tls.domains[0].main={{ domain }}"
      - "traefik.http.routers.webvirtmgr.tls.domains[0].sans=*.{{ domain }}"
      - "traefik.http.routers.webvirtmgr.tls.certresolver=cloudflare-dns"
{% if enable_tor %}
      - "traefik.tor.frontend.rule=Host:webvirtmgr.{{ tor_domain }}"
      - "traefik.tor.protocol=http"
      - "traefik.tor.port=8000"
{% endif %} 