# These are the default settings. Copy this file to `host_vars/myserver` then in that file set the values to match your setup.

### REQUIRED ###
# These values are REQUIRED for HomelabOS to work.

# SSH accessible IP address
homelab_ip: {{ homelab_ip }}

# User name used to connect via ssh. Must have passwordless sudo.
homelab_ssh_user: {{ homelab_ssh_user }}

# SUDO password
ansible_become_password: {{ ansible_become_password | default() }}

# Default user name to create as admin with services
default_username: {{ default_username }}

# Default password to go with the default user
default_password: {{ default_password }}

# Default storage location for media (These are used as local directories or NAS mount points depending on configuration)
storage_dir: {{ storage_dir | default('/mnt/homelabos/media') }}

# Minio access keys
minio_access_key: {{ minio_access_key | default() }}
minio_secret_access_key: {{ minio_secret_access_key | default() }}

# Default Ubuntu release name to follow. Valid examples include: bionic, cosmic, disco
ubuntu_release: {{ ubuntu_release | default('bionic') }}

# This configuration dictionary sets various details of your bastion host.
# see the docs for more information about what a bastion host is and how
# the HomelabOS bastion host works.
bastion:
  # should HomelabOS utilize a bastion server?
  enabled: {{ bastion.enabled | default(False) }}
  # Bastion host main ethernet interface name
  interface: {{ bastion.interface | default("eth0") }}
  # must provide passwordless sudo
  server_ssh_user: {{ bastion.server_ssh_user | default('root') }}
  # Can be an IP or a hostname
  server_address: {{ bastion.server_address | default(False) }}
  wireguard:
    bastion_vpn_address: {{ bastion.wireguard.bastion_vpn_address | default("10.0.1.1") }}
    homelab_vpn_address: {{ bastion.wireguard.home_vpn_address | default("10.0.1.2") }}
    netmask: {{ bastion.wireguard.netmask | default("/24") }}
    port: {{ bastion.wireguard.port | default("51820") }}
    keepalive: {{ bastion.wireguard.keepalive | default("25") }}
  ports_to_forward:
    2222: 22
    80: 80
    443: 443
    25: 25
    143: 143
    587: 587
    998: 998
    4190: 4190
  # MIGRATION v0.7
  # Should HomelabOS reset the bastion server IP tables rules?
  # Enable this if you are upgrading a Tinc bastion host
  reset_iptables: {{ bastion.reset_iptables | default(False) }}
  # END MIGRATION


# Timezone of the server
common_timezone: {{ common_timezone | default('Etc/UTC') }}

# Domain that will be used to point at the server
# Must have a DNS A record of `*.yourserver.com` pointing at your server's IP.
domain: {{ domain | default('localhost') }}

# An email that is accessible outside of HomelabOS that you can receive system alerts and notices at.
# Necessary for SSL / LetsEncrypt to work.
admin_email: {{ admin_email | default('test@test.com') }}

ansible_port: {{ ansible_port | default(22) }}

# Servers

aws:
  secret_key:
  access_key:
  region:

do_access_token: {{ do_access_token | default(False) }}
region: {{ region | default('nyc1') }}

# Features

# You can enable/disable different HomelabOS features here by changing False to True and vice versa.

enable_tor: {{ enable_tor | default(False) }}

# Force SSL Usage
# Only set this to true after everything is working, and https certificates have been generated.
# https_only: {{ https_only | default(False) }}

# Services

# Enable HomelabOS documentation

docs:
  enable: {{ docs.enable | default(False) }}
  https_only: {{ docs.https_only | default(False) }}
  auth: {{ docs.auth | default(False) }}
#== PARSE ###
# You can enable/disable services individually by changing False to True and vice versa.
airsonic:
  enable: {{ airsonic.enable | default(False) }}
  https_only: {{ airsonic.https_only | default(False) }}
  auth: {{ airsonic.auth | default(False) }}
apache2:
  enable: {{ apache2.enable | default(False) }}
  https_only: {{ apache2.https_only | default(False) }}
  auth: {{ apache2.auth | default(False) }}
apple_health_influx:
  enable: {{ apple_health_influx.enable | default(False) }}
enable_authelia.enable:
  enable: {{ enable_authelia.enable | default(False) }}
beets:
  enable: {{ beets.enable | default(False) }}
  https_only: {{ beets.https_only | default(False) }}
  auth: {{ beets.auth | default(False) }}
bitwarden:
  enable: {{ bitwarden.enable | default(False) }}
  https_only: {{ bitwarden.https_only | default(False) }}
  auth: {{ bitwarden.auth | default(False) }}
bookstack:
  enable: {{ bookstack.enable | default(False) }}
  https_only: {{ bookstack.https_only | default(False) }}
  auth: {{ bookstack.auth | default(False) }}
bulletnotes:
  enable: {{ bulletnotes.enable | default(False) }}
  https_only: {{ bulletnotes.https_only | default(False) }}
  auth: {{ bulletnotes.auth | default(False) }}
calibre:
  enable: {{ calibre.enable | default(False) }}
  https_only: {{ calibre.https_only | default(False) }}
  auth: {{ calibre.auth | default(False) }}
codeserver:
  enable: {{ codeserver.enable | default(False) }}
  https_only: {{ codeserver.https_only | default(False) }}
  auth: {{ codeserver.auth | default(False) }}
darksky_influx:
  enable: {{ darksky_influx.enable | default(False) }}
dasher:
  enable: {{ dasher.enable | default(False) }}
digikam:
  enable: {{ digikam.enable | default(False) }}
  auth: {{ digikam.auth | default(False) }}
  https_only: {{ digikam.https_only | default(False) }}
drone:
  enable: {{ drone.enable | default(False) }}
  https_only: {{ drone.https_only | default(False) }}
  auth: {{ drone.auth | default(False) }}
duplicati:
  enable: {{ duplicati.enable | default(False) }}
  https_only: {{ duplicati.https_only | default(False) }}
  auth: {{ duplicati.auth | default(False) }}
emby:
  enable: {{ emby.enable | default(False) }}
  https_only: {{ emby.https_only | default(False) }}
  auth: {{ emby.auth | default(False) }}  
firefly_iii:
  enable: {{ firefly_iii.enable | default(False) }}
  https_only: {{ firefly_iii.https_only | default(False) }}
  auth: {{ firefly_iii.auth | default(False) }}
freshrss:
  enable: {{ freshrss.enable | default(False) }}
  https_only: {{ freshrss.https_only | default(False) }}
  auth: {{ freshrss.auth | default(False) }}
ghost:
  enable: {{ ghost.enable | default(False) }}
  https_only: {{ ghost.https_only | default(False) }}
  auth: {{ ghost.auth | default(False) }}
enable_gitea:
  enable: {{ enable_gitea.enable | default(False) }}
  https_only: {{ enable_gitea.https_only | default(False) }}
  auth: {{ enable_gitea.auth | default(False) }}
grafana:
  enable: {{ grafana.enable | default(False) }}
  https_only: {{ grafana.https_only | default(False) }}
  auth: {{ grafana.auth | default(False) }}
guacamole:
  enable: {{ guacamole.enable | default(False) }}
  https_only: {{ guacamole.https_only | default(False) }}
  auth: {{ guacamole.auth | default(False) }}
healthchecks:
  enable: {{ healthchecks.enable | default(False) }}
  https_only: {{ healthchecks.https_only | default(False) }}
  auth: {{ healthchecks.auth | default(False) }}
homeassistant:
  enable: {{ homeassistant.enable | default(False) }}
  https_only: {{ homeassistant.https_only | default(False) }}
  auth: {{ homeassistant.auth | default(False) }}
homebridge:
  enable: {{ homebridge.enable | default(False) }}
homedash:
  enable: {{ homedash.enable | default(False) }}
  https_only: {{ homedash.https_only | default(False) }}
  auth: {{ homedash.auth | default(False) }}
inventario:
  enable: {{ inventario.enable | default(False) }}
  https_only: {{ inventario.https_only | default(False) }}
  auth: {{ inventario.auth | default(False) }}
jackett:
  enable: {{ jackett.enable | default(False) }}
  https_only: {{ jackett.https_only | default(False) }}
  auth: {{ jackett.auth | default(False) }}
jellyfin:
  enable: {{ jellyfin.enable | default(False) }}
  https_only: {{ jellyfin.https_only | default(False) }}
  auth: {{ jellyfin.auth | default(False) }}
kibitzr:
  enable: {{ kibitzr.enable | default(False) }}
lidarr:
  enable: {{ lidarr.enable | default(False) }}
  https_only: {{ lidarr.https_only | default(False) }}
  auth: {{ lidarr.auth | default(False) }}
enable_mailserver:
  enable: {{ enable_mailserver.enable | default(False) }}
  https_only: {{ enable_mailserver.https_only | default(False) }}
  auth: {{ enable_mailserver.auth | default(False) }}
mashio:
  enable: {{ mashio.enable | default(False) }}
  https_only: {{ mashio.https_only | default(False) }}
  auth: {{ mashio.auth | default(False) }}
matomo:
  enable: {{ matomo.enable | default(False) }}
  https_only: {{ matomo.https_only | default(False) }}
  auth: {{ matomo.auth | default(False) }}
mayan:
  enable: {{ mayan.enable | default(False) }}
  https_only: {{ mayan.https_only | default(False) }}
  auth: {{ mayan.auth | default(False) }}
miniflux:
  enable: {{ miniflux.enable | default(False) }}
  https_only: {{ miniflux.https_only | default(False) }}
  auth: {{ miniflux.auth | default(False) }}
minio:
  enable: {{ enable_minio | default(False) }}
  https_only: {{ minio.https_only | default(False) }}
  auth: {{ minio.auth | default(False) }}
monicahq:
  enable: {{ monicahq.enable | default(False) }}
  https_only: {{ monicahq.https_only | default(False) }}
  auth: {{ monicahq.auth | default(False) }}
mstream:
  enable: {{ mstream.enable | default(False) }}
  https_only: {{ mstream.https_only | default(False) }}
  auth: {{ mstream.auth | default(False) }}
mylar:
  enable: {{ mylar.enable | default(False) }}
  https_only: {{ mylar.https_only | default(False) }}
  auth: {{ mylar.auth | default(False) }}
netdata:
  enable: {{ netdata.enable | default(False) }}
  https_only: {{ netdata.https_only | default(False) }}
  auth: {{ netdata.auth | default(False) }}
nextcloud:
  enable: {{ nextcloud.enable | default(False) }}
  https_only: {{ nextcloud.https_only | default(False) }}
  auth: {{ nextcloud.auth | default(False) }}
nzbget:
  enable: {{ nzbget.enable | default(False) }}
  https_only: {{ nzbget.https_only | default(False) }}
  auth: {{ nzbget.auth | default(False) }}
ombi:
  enable: {{ ombi.enable | default(False) }}
  https_only: {{ ombi.https_only | default(False) }}
  auth: {{ ombi.auth | default(False) }}
openldap:
  enable: {{ openldap.enable | default(False) }}
  https_only: {{ openldap.https_only | default(False) }}
  auth: {{ openldap.auth | default(False) }}
openvpn:
  enable: {{ openvpn.enable | default(False) }}
organizr:
  enable: {{ organizr.enable | default(True) }}
  https_only: {{ organizr.https_only | default(False) }}
  auth: {{ organizr.auth | default(False) }}
ownphotos:
  enable: {{ ownphotos.enable | default(False) }}
  https_only: {{ ownphotos.https_only | default(False) }}
  auth: {{ ownphotos.auth | default(False) }}
paperless:
  enable: {{ paperless.enable | default(False) }}
  https_only: {{ paperless.https_only | default(False) }}
  auth: {{ paperless.auth | default(False) }}
pihole:
  enable: {{ pihole.enable | default(False) }}
  https_only: {{ pihole.https_only | default(False) }}
  auth: {{ pihole.auth | default(False) }}
piwigo:
  enable: {{ piwigo.enable | default(False) }}
  https_only: {{ piwigo.https_only | default(False) }}
  auth: {{ piwigo.auth | default(False) }}
pixelfed:
  enable: {{ pixelfed.enable | default(False) }}
  https_only: {{ pixelfed.https_only | default(False) }}
  auth: {{ pixelfed.auth | default(False) }}
plex:
  enable: {{ plex.enable | default(False) }} # Set Plex Claim Token below
  https_only: {{ plex.https_only | default(False) }}
  auth: {{ plex.auth | default(False) }}
poli:
  enable: {{ poli.enable | default(False) }}
  https_only: {{ poli.https_only | default(False) }}
  auth: {{ poli.auth | default(False) }}
portainer:
  enable: {{ portainer.enable | default(False) }}
  https_only: {{ portainer.https_only | default(False) }}
  auth: {{ portainer.auth | default(False) }}
sickchill:
  enable: {{ sickchill.enable | default(False) }}
  https_only: {{ sickchill.https_only | default(False) }}
  auth: {{ sickchill.auth | default(False) }}
sonarr:
  enable: {{ sonarr.enable | default(False) }}
  https_only: {{ sonarr.https_only | default(False) }}
  auth: {{ sonarr.auth | default(False) }}
radarr:
  enable: {{ radarr.enable | default(False) }}
  https_only: {{ radarr.https_only | default(False) }}
  auth: {{ radarr.auth | default(False) }}
restic:
  enable: {{ restic.enable | default(False) }}
speedtest:
  enable: {{ speedtest.enable | default(False) }}
  https_only: {{ speedtest.https_only | default(False) }}
  auth: {{ speedtest.auth | default(False) }}
  server: {{ speedtest.server | default (11441) }}
syncthing:
  enable: {{ syncthing.enable | default(False) }}
  https_only: {{ syncthing.https_only | default(False) }}
  auth: {{ syncthing.auth | default(False) }}
tautulli:
  enable: {{ tautulli.enable | default(False) }}
  https_only: {{ tautulli.https_only | default(False) }}
  auth: {{ tautulli.auth | default(False) }}
thelounge:
  enable: {{ thelounge.enable | default(False) }}
  https_only: {{ thelounge.https_only | default(False) }}
  auth: {{ thelounge.auth | default(False) }}
tick:
  enable: {{ tick.enable | default(False) }}
transmission:
  enable: {{ transmission.enable | default(False) }}
  https_only: {{ transmission.https_only | default(False) }}
  auth: {{ transmission.auth | default(False) }}
trilium:
  enable: {{ trilium.enable | default(False) }}
  https_only: {{ trilium.https_only | default(False) }}
  auth: {{ trilium.auth | default(False) }}
ubooquity:
  enable: {{ ubooquity.enable | default(False) }}
  https_only: {{ ubooquity.https_only | default(False) }}
  auth: {{ ubooquity.auth | default(False) }}
wallabag:
  enable: {{ wallabag.enable | default(False) }}
  https_only: {{ wallabag.https_only | default(False) }}
  auth: {{ wallabag.auth | default(False) }}
webvirtmgr:
  enable: {{ webvirtmgr.enable | default(False) }}
  https_only: {{ webvirtmgr.https_only | default(False) }}
  auth: {{ webvirtmgr.auth | default(False) }}
wekan:
  enable: {{ wekan.enable | default(False) }}
  https_only: {{ wekan.https_only | default(False) }}
  auth: {{ wekan.auth | default(False) }}
watchtower:
  enable: {{ watchtower.enable | default(False) }}
xfinityusageinfluxdb:
  enable: {{ xfinityusageinfluxdb.enable | default(False) }}
zulip:
  enable: {{ zulip.enable | default(False) }}
  https_only: {{ zulip.https_only | default(False) }}
  auth: {{ zulip.auth | default(False) }}
# After claiming your token at https://www.plex.tv/claim/ you will only have four minutes to run make and deploy plexinc
plex_claim: {{ plex_claim | default('CHANGE_TO_GIVEN_TOKEN') }}

### END REQUIRED ###

### OPTIONAL ### These valuse are OPTIONAL and enable extra HomelabOS functionality.

# Your DarkSky API Key. Get one at http://darksky.net/dev
darksky_key: {{ darksky_key | default() }}

# Your location
latitude: {{ latitude | default() }}
longitude: {{ longitude | default() }}

# VPN For Transmission to use for Downloads
openvpn_provider: {{ openvpn_provider | default() }}
openvpn_username: {{ openvpn_username | default() }}
openvpn_password: {{ openvpn_password | default() }}
openvpn_config: {{ openvpn_config | default() }}

# NAS Config (Docs: https://nickbusey.gitlab.io/HomelabOS/setup/installation/#nas-network-attached-storage-configuration)
nas_enable: {{ nas_enable | default(False) }}
nas_host: {{ nas_host | default() }}
nas_mount_type: {{ nas_mount_type | default() }}
nas_share_path: {{ nas_share_path | default() }}
nas_user: {{ nas_user | default(default_username) }}
nas_pass: {{ nas_pass | default() }}
nas_workgroup: {{ nas_workgroup | default() }}

# Mapbox Api keys: Used for OwnPhotos
mapbox_api_key: {{ mapbox_api_key | default() }}

# Restic S3 Backup Server Information name: Docs: https://nickbusey.gitlab.io/HomelabOS/setup/backups/
s3_access_key: {{ s3_access_key | default() }}
s3_secret_key: {{ s3_secret_key | default() }}
s3_backup_password: {{ s3_backup_password | default() }}

# Example: 0 4 * * *
# Backup every day at 4:00 AM
s3_backup_cron: {{ s3_backup_cron | default() }}
s3_path: {{ s3_path | default() }}

# Home Assitant API Key
homeassistant_api_key: {{ homeassistant_api_key | default() }}

# Apple Health Data Importer name: Docs: https://nickbusey.gitlab.io/HomelabOS/software/applehealth/
apple_health_nextcloud_username: {{ apple_health_nextcloud_username | default()  }}

# Xfinity Data Usage Settings
xfinity_user: {{ xfinity_user | default()  }}
xfinity_password: {{ xfinity_password | default()  }}

# SMTP Settings
smtp:
  host: {{ smtp.host | default()  }}
  port: {{ smtp.port | default()  }}
  user: {{ smtp.user | default()  }}
  pass: {{ smtp.pass | default()  }}
  from_email: {{ smtp.from_email | default()  }}
  from_name: {{ smtp.from_name | default()  }}

mailserver:
  forward_to_smtp: {{ enable_mailserver.forward_to_smtp | default(False)  }}

traefik:
  https_only: {{ traefik.https_only | default(False) }}
  auth: {{ traefik.auth | default(False) }}
  expose_internally: {{ traefik.expose_internally | default(True)  }}
  expose_externally: {{ traefik.expose_externally | default(False)  }}
  dns_challenge_provider: {{ traefik.dns_challenge_provider | default(False) }}
# Extra mapping, for name -> internal address, like myservice: 'http://otherhost:12345'
  extra_mapping:
#   myservice: http://otherhost:12345
{% if traefik.extra_mapping | default(False) %}
{% for service_name in traefik.extra_mapping %}
    {{ service_name }}: {{ traefik.extra_mapping[service_name] }}
{% endfor %}
{% endif %}
# use key:value pairs here to add additional environment variables to your traefik docker image.
# for instance, if you're using a dns challenge provider place your api keys etc here.
  additional_env_vars:
    # DUMMY_KEY: DUMMY_VALUE
    CLOUDFLARE_EMAIL: {{ traefik.additional_env_vars.CLOUDFLARE_EMAIL | default('EMAIL') }}
    CLOUDFLARE_API_KEY: {{ traefik.additional_env_vars.CLOUDFLARE_API_KEY | default('API_KEY') }}

gitea:
  use_mariadb: {{ gitea.use_mariadb | default(True) }}
  gitea_ssh_port: {{ gitea.gitea_ssh_port | default(222) }}

apache2_subdomain: {{ apache2_subdomain | default('apache2') }}

# Authelia Settings
authelia:
  # Determines how verbose the logs are
  log_level: {{ authelia.log_level | default('debug') }}
  # Do you want to login with your common name "john doe" or your username "jdoe"?
  # defaults to Username
  use_username: {{ authelia.use_username | default(True) }}
  # This must be an address you can recieve mail at!
  default_user_email: {{authelia.default_user_email | default() }}
  max:
    # max # of retries to authenticate (default 5)
    retries: {{ authelia.max.retries | default(5) }}
    # max time before the retry count resets (default 2 min)
    retries_in_time: {{ authelia.max.retries_in_time | default(120) }}
    # if you exceed the max retry count within the time frame, you're banned
    # for x seconds. (default 300 seconds /5 min)
    retries_ban_time: {{ authelia.max.retries_ban_time | default(300) }}
  default:
    # the number of authentication factors required by default
    factor_count: {{ authelia.default.factor_count | default('one_factor') }}
    # how long it takes for the cookie to expire (default, 1hr)
    cookie_expiration: {{ authelia.default.cookie_expiration | default(3600000) }}
    # inactivity time for the cookie default (5m)
    cookie_inactivity: {{ authelia.default.cookie_inactivity | default(300000) }} # 5min
    # default policy - deny by default
    policy: {{ authelia.default.policy | default('deny') }}
  duo:
    hostname: {{ authelia.duo.hostname | default() }}
    integration_key: {{ authelia.duo.integration_key | default() }}
    secret_key: {{ authelia.duo.secret_key | default() }}
  # Don't change these unless you know what you're doing
