---
version: '3'

networks:
  traefik_network:
    external:
      name: homelabos_traefik

services:
  prometheus:
    image: prom/prometheus:{{ prometheus.version }}
    restart: unless-stopped
    networks:
      - traefik_network
    volumes:
      - "{{ volumes_root }}/prometheus/data:/prometheus"
      - "{{ volumes_root }}/prometheus/prometheus.yml:/etc/prometheus/prometheus.yml:ro"
    ports:
      - "9090:9090"
{% include './labels.j2' %}
