global:
  scrape_interval: 15s
  evaluation_interval: 15s

scrape_configs:
  - job_name: "prometheus"
    static_configs:
      - targets: ["localhost:9090"]

  - job_name: "traefik"
    metrics_path: /metrics
    static_configs:
      - targets: ["homelabos:8082"]

  - job_name: "node"
    static_configs:
      - targets: ["node-exporter:9100"]
