---
version: '3'

# This networks section required for the package to be visible to Traefik.
# DO NOT Remove
networks:
  traefik_network:
    external:
      name: homelabos_traefik

services:
  url:
    image: draganczukp/simplyshorten:{{ simplyshorten.version }}
    environment:
      username: {{ default_username }}
      password: {{ default_password }}
    volumes:
      - "{{ volumes_root }}/simplyshorten/urls.sqlite:/urls.sqlite"
    restart: unless-stopped
    networks:
      - traefik_network
{% include './labels.j2' %}
