---
version: '3'

services:
  # Bandwidth Usage Logger
  xfinityusageinfluxdb:
    restart: unless-stopped
    image: nickbusey/xfinityusageinfluxdb
    environment:
      - XFINITY_USER={{ xfinity_user }}
      - XFINITY_PASSWORD={{ xfinity_password }}
      - INFLUXDB_HOST=influxdb
