---
version: '3'

networks:
  traefik_network:
    external:
      name: homelabos_traefik

services:
  # HomelabOS Documentation
  docs:
    image: kyma/docker-nginx
    restart: unless-stopped
    networks:
      - traefik_network
    volumes:
      - "{{ volumes_root }}/docs/site:/var/www"
    labels:
      - "traefik.http.services.docs.loadbalancer.server.scheme=http"
      - "traefik.http.services.docs.loadbalancer.server.port=80"
{% include './labels.j2' %}
