---
version: '3'

networks:
  traefik_network:
    external:
      name: homelabos_traefik

services:
  # HomelabOS Documentation
  docs:
    image: kyma/docker-nginx
    restart: unless-stopped
    networks:
      - traefik_network
    volumes:
      - /var/homelabos/docs/site:/var/www
    labels:
      - "traefik.enable=true"
      - "traefik.docker.network=homelabos_traefik"
      - "traefik.http.services.docs.loadbalancer.server.scheme=http"
      - "traefik.http.services.docs.loadbalancer.server.port=80"
      - "traefik.http.routers.docs-http.rule=Host(`docs.{{ domain }}`)"
      - "traefik.http.routers.docs-http.entrypoints=http"
      - "traefik.http.routers.docs-http.middlewares=auth@file, redirect@file, customFrameHomelab@file"
      - "traefik.http.routers.docs.rule=Host(`docs.{{ domain }}`)"
      - "traefik.http.routers.docs.entrypoints=https"
      - "traefik.http.routers.docs.middlewares=auth@file, customFrameHomelab@file"
      - "traefik.http.routers.docs.tls=true"
      - "traefik.http.routers.docs.tls.domains[0].main={{ domain }}"
      - "traefik.http.routers.docs.tls.domains[0].sans=*.{{ domain }}"
      - "traefik.http.routers.docs.tls.certresolver=cloudflare-dns"
{% if enable_tor %}
      - "traefik.tor.frontend.rule=Host:docs.{{ tor_domain }}"
      - "traefik.tor.protocol=http"
      - "traefik.tor.port=80"
{% endif %}
